#*
 * Project Ginger
 *
 * Copyright IBM Corp, 2016-2017
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
<script type="text/javascript" src="plugins/ginger/js/host-network-vlan.js"></script>
<script type="text/javascript" src="plugins/ginger/js/ginger-bootgrid.js"></script>


<div id="nw-vlan-window" class="ginger modal-content">
  <div class="modal-header">
    <button type="button" id="nw-vlan-button-close" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="nw-vlan-title">$_("Interface : ")</h4>
  </div>
  <div class="modal-body">
    <span id="alert-nw-vlan-modal-container"></span>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#form-nw-vlan-general" aria-controls="form-nw-vlan-general" role="tab" data-id="form-nw-vlan-general" data-toggle="tab">$_("General")</a></li>
      <li role="presentation"><a href="#form-nw-vlan-ipv4" aria-controls="form-nw-vlan-ipv4" role="tab" data-id="form-nw-vlan-ipv4" data-toggle="tab">$_("IPv4 Settings")</a></li>
      <li role="presentation"><a href="#form-nw-vlan-ipv6" aria-controls="form-nw-vlan-ipv6" role="tab" data-id="form-nw-vlan-ipv6" data-toggle="tab">$_("IPv6 Settings")</a></li>
      <li role="presentation"><a href="#form-nw-vlan-advance" aria-controls="form-nw-vlan-advance" role="tab" data-id="form-nw-vlan-advance" data-toggle="tab">$_("Advanced")</a></li>
    </ul>
    <div class="tab-content" id="nw-vlan-tabs">
      <input type="hidden" id="vlan-interface-device" name="vlanInterfaceDevice" />
      <form role="tabpanel" class="tab-pane active form-horizontal" id="form-nw-vlan-general">
        <div class="form-group">
          <label class="control-label col-sm-4" for="nw-vlan-interfaces-select">$_("Parent Interface")</label>
          <div class="col-sm-8">
            <select class="form-control" id="nw-vlan-interfaces-select" name="PHYSDEV">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="nw-vlan-hwaddress">$_("VLAN Interface name")</label>
          <div class="col-sm-8">
            <input id="nw-vlan-interface-textbox" class="form-control" name="NAME" type="text" required="true" title=" "/>
          </div>
        </div>
        <div class="form-group">
          <span class="help-block col-sm-12"><i class="fa fa-info-circle"></i>$_("eg. vlan4094 or vlan.4094 or eth0.4094 or 15 characters device name")</span>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="nw-vlan-vlanid-textbox">$_("VLAN Id")</label>
          <div class="col-sm-8 col-xs-3">
            <input id="nw-vlan-vlanid-textbox" class="form-control" name="VLANID" type="text" required="true" title=" "/>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" id="nw-vlan-connect-auto" name="ONBOOT">$_("Connect Automatically")</label>
          </div>
        </div>
      </form>
      <form role="tabpanel" class="tab-pane form-horizontal" id="form-nw-vlan-ipv4">
        <div class="form-group">
          <label class="control-label col-sm-8" for="nw-vlan-ipv4-init">$_("IPv4")</label>
          <div class="col-sm-4">
            <div class="make-switch">
              <input type="checkbox" checked="true" class="ipv4-on-off" id="nw-vlan-ipv4-init" data-on-text=$_("ON") data-off-text=$_("OFF") data-handle-width="90"/>
            </div>
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv4-method">
          <label class="control-label col-sm-8" for="nw-vlan-ipv4-method">$_("Method")</label>
          <div class="col-sm-4">
            <select class="form-control" id="nw-vlan-ipv4-method">
              <option>$_("Automatic(DHCP)")</option>
              <option>$_("Manual")</option>
            </select>
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv4-manual">
          <div class="form-group" style="margin-bottom:5px">
            <label class="control-label" for="nw-vlan-ipv4-addresses">$_("IP Addresses")</label>
            <div class="pull-right">
              <button id="nw-vlan-ipv4-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
            </div>
          </div>
          <div id="nw-vlan-ipv4-addresses">
            <!--Filled by JS-->
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv4-manual-dhcp">
          <div class="form-group" style="margin-bottom:5px">
            <label class="control-label" for="nw-vlan-ipv4-dns">$_("DNS")</label>
            <div class="pull-right">
              <button id="nw-vlan-ipv4-dns-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
            </div>
          </div>
          <div id="nw-vlan-ipv4-dns">
            <!--Filled by JS-->
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv4-manual-dhcp">
          <div class="form-group" style="margin-bottom:5px">
            <label class="control-label" for="nw-vlan-ipv4-routes">$_("Routes")</label>
            <div class="pull-right">
              <button id="nw-vlan-ipv4-routes-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
            </div>
          </div>
          <div id="nw-vlan-ipv4-routes">
            <!--Filled by JS-->
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv4-manual-dhcp">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" id="nw-vlan-ipv4-defroute" name="DEFROUTE">$_("Enable IPv4 Default Route")</label>
          </div>
        </div>
      </form>
      <form role="tabpanel" class="tab-pane form-horizontal" id="form-nw-vlan-ipv6">
        <div class="form-group">
          <label class="control-label col-sm-8" for="nw-vlan-ipv6-init">$_("IPv6")</label>
          <div class="col-sm-4">
            <div class="make-switch">
              <input type="checkbox" checked="true" class="ipv6-on-off" id="nw-vlan-ipv6-init" data-on-text=$_("ON") data-off-text=$_("OFF") data-handle-width="90"/>
            </div>
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv6-method">
          <label class="control-label col-sm-8" for="nw-vlan-ipv6-method">$_("Method")</label>
          <div class="col-sm-4">
            <select class="form-control" id="nw-vlan-ipv6-method">
              <option>$_("Automatic")</option>
              <option>$_("Manual")</option>
            </select>
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv6-manual">
          <label class="control-label col-sm-8" for="nw-vlan-ipv6-gateway-textbox">$_("Default Gateway")</label>
          <div class="col-sm-4">
            <input id="nw-vlan-ipv6-gateway-textbox" class="form-control" name="GATEWAY" type="text" />
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv6-manual">
          <div class="form-group" style="margin-bottom:5px">
            <label class="control-label" for="nw-vlan-ipv6-addresses">$_("IP Addresses")</label>
            <div class="pull-right">
              <button id="nw-vlan-ipv6-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
            </div>
          </div>
          <div id="nw-vlan-ipv6-addresses">
            <!--Filled by JS-->
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv6-manual-dhcp">
          <div class="form-group" style="margin-bottom:5px">
            <label class="control-label" for="nw-vlan-ipv6-dns">$_("DNS")</label>
            <div class="pull-right">
              <button id="nw-vlan-ipv6-dns-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
            </div>
          </div>
          <div id="nw-vlan-ipv6-dns">
            <!--Filled by JS-->
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv6-manual-dhcp">
          <div class="form-group" style="margin-bottom:5px">
            <label class="control-label" for="nw-vlan-ipv6-routes">$_("Routes")</label>
            <div class="pull-right">
              <button id="nw-vlan-ipv6-routes-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
            </div>
          </div>
          <div id="nw-vlan-ipv6-routes">
            <!--Filled by JS-->
          </div>
        </div>
        <div class="form-group form-nw-vlan-ipv6-manual-dhcp">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" id="nw-vlan-ipv6-defroute" name="IPV6_DEFROUTE">$_("Enable IPv6 Default Route")</label>
          </div>
        </div>
      </form>
      <!--form role="tabpanel" class="guest-edit-permission tab-pane" id="form-guest-edit-permission"-->
      <form role="tabpanel" class="tab-pane form-horizontal" id="form-nw-vlan-advance">
        <div class="form-group">
          <label class="control-label col-sm-4" for="nw-vlan-mtu-textbox">$_("MTU")</label>
          <div class="col-sm-8">
            <input id="nw-vlan-mtu-textbox" class="form-control" name="MTU"  placeholder="enter value between 1 to 9198" type="number" min="1" max="9198" step="1" />
          </div>
        </div>
        <div class="form-group hidden">
          <label class="control-label col-sm-4" for="nw-vlan-firewall-select">$_("Firewall Zone")</label>
          <div class="col-sm-8">
            <select class="form-control" id="nw-vlan-firewall-select" disabled="disabled">
            </select>
          </div>
        </div>
        <div class="form-group hidden">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" id="nw-vlan-enable-brg">$_("Enable Bridge Port")</label>
          </div>
          <span class="help-block">$_("Equivalent to enabling promiscuous mode on regular Ethernet adapters")</span>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button id="nw-vlan-button-apply" class="btn btn-default">$_("Apply")</button>
    <!--Should be keep Save??-->
    <button id="nw-vlan-button-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
  </div>
</div>
<script type="text/javascript">
  ginger.initVLANInterfaceSettings();
</script>
