<!DOCTYPE html>
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>
<head>
<link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
<script type="text/javascript" src="plugins/ginger/js/util.js"></script>
<script type="text/javascript" src="plugins/ginger/js/host-admin.js"></script>
</head>
<body>
<div class="ginger">

<div id="gingerHostAdmin" class="host-admin">
    <h3 class="firmware-ppc-enabled">$_("Firmware Update")</h3>
    <div class="content-area">
        <div id="gingerFWUpdateMess" class="message-area" style="display: none;">
            <span class="progress-icon"></span>
            <span>$_("Firmware update is initializing. System will reboot in order to flash the firmware.")</span>
        </div>
        <div class="section">
            <span>$_("Firmware Version: ")</span>
            <span id="gingerFWVer" class="firmware-ver"></span>
        </div>
        <div class="section">
            <div class="pack-path-label">$_("Package Path: ")</div>
            <div class="pack-path-content">
                <input type="text" id="gingerPackPath" class="pack-path-input">
                <div class="input-hint">
                    <span class="ui-icon ui-icon-info input-hint-icon"></span>
                    <span class="input-hint-text">$_("The absolute path to the firmware rpm.")</span>
                    </div>
            </div>
            <button id="gingerPackPathSub">$_("Update")</button>
        </div>
    </div>
    <h3 class="backup-ppc-enabled">$_("Configuration Backup")</h3>
    <div class="content-area">
        <div class="action-bar">
            <span id="batDelBtn" class="item">$_("Batch Delete")</span>
            <span id="newCustomBakBtn" class="item">$_("New Custom Backup")</span>
            <span id="newDefaultBakBtn" class="item">$_("Generate Default Backup")</span>
        </div>
        <div class="bak-grid-header">
            <div class="cell file-col">$_("File")</div>
            <div class="cell time-col">$_("Timestamp")</div>
        </div>
        <div id="bakGridBody" class="bak-grid-body"></div>
    </div>
    <h3 class="network-ppc-enabled">$_("Network Configuration")</h3>
    <div class="content-area nw-config">
        <div class="pane interface">
            <div class="sec-label"><span>$_("Interface")</span></div>
            <div class="sec-content">
                <div class="grid-head"><span class="cell name">$_("Name")</span><span class="cell ip">$_("IP")</span><span class="cell mask">$_("Mask")</span></div>
                <div class="grid-body" id="gingerInterface"></div>
            </div>
        </div>
        <div class="pane global">
            <div class="vertical-separator">
                <div class="sec-label"><span>$_("DNS")</span><button id="gingerDnsAdd" class="addBtn"></button></div>
                <div id="gingerDNS"></div>
            </div>
            <div>
                <div class="sec-label"><span>$_("Gateway")</span></div>
                <div id="gingerGateway"></div>
            </div>
        </div>
    </div>
    <h3 class="powerprofiles-ppc-enabled">$_("Power Options")</h3>
    <div class="content-area" id="gingerPowerMgmt">
        <div class="pw-opt">
        <div class="header">
            <span class="ui-icon ui-icon-check legend"></span><span class="legend separator">$_("Activated Option")</span>
            <span class="ui-icon ui-icon-radio-on legend"></span><span class="legend separator">$_("Selected Option")</span>
            <span class="ui-icon ui-icon-radio-off legend"></span><span class="legend">$_("Unselected Option")</span>
            <span class="actBtn">$_("Activate")</span>
            <span id="progressIndicator"></span>
        </div>
        <div class="body"></div>
        </div>
    </div>
    <h3 class="sanadapters-ppc-enabled">$_("SAN Adapters")</h3>
    <div class="content-area san-adapter">
        <div class="cell name"><div class="head">$_("Name")</div><div class="body"></div></div>
        <div class="cell wwpn"><div class="head">$_("WWPN")</div><div class="body"></div></div>
        <div class="cell wwnn"><div class="head">$_("WWNN")</div><div class="body"></div></div>
        <div class="cell state"><div class="head">$_("State")</div><div class="body"></div></div>
        <div class="cell port"><div class="head">$_("In-Use/Max Ports")</div><div class="body"></div></div>
        <div class="cell speed"><div class="head">$_("Speed")</div><div class="body"></div></div>
        <div class="cell symbolic"><div class="head">$_("Symbolic Name")</div><div class="body"></div></div>
    </div>
    <h3 class="sensors-ppc-enabled">$_("Sensor Monitor")</h3>
    <div class="content-area sensor-panel">
    </div>
    <h3 class="sep-ppc-enabled">$_("SEP Configuration")</h3>
    <div class="content-area subsc-manage">
        <div class="status-header">
            <div class="sep-label">$_("Status:")</div>
            <div id="sepStatusLog" class="sep-dot-active down"></div>
            <div class="sep-field sep-buttons">
                <span id="sepStart" class="actBtn">$_("Start")</span>
                <span id="sepStop" class="actBtn" style="display:none">$_("Stop")</span>
            </div>
        </div>
        <div class="content-header">
            <span>$_("Hostname")</span>
            <span>$_("Port")</span>
            <span>$_("Community")</span>
            <button class="add-subscription"></button>
        </div>
        <div class="content-body"></div>
    </div>
    <h3 class="users-ppc-enabled">$_("User Management")</h3>
    <div class="content-area user-manage">
        <div class="content-header">
            <span>$_("Name")</span>
            <span>$_("Group")</span>
            <span>$_("Profile")</span>
            <button class="add-user"></button>
        </div>
        <div class="content-body"></div>
    </div>
</div>

<div id="newBakDialog" title="Create a backup" class="ginger-dialog">
    <div>$_("Description")</div>
    <div class="crt-bak-section"><input type="text" class="desc"></div>
    <div class="crt-bak-section">
        <div class="path-pick">
            <div>$_("Path Included")</div>
            <div class="box" id="includeBox"></div>
        </div>
        <div class="path-pick">
            <div>$_("Path Excluded")</div>
            <div class="box" id="excludeBox"></div>
        </div>
    </div>
</div>

<div id="batDelDialog" title="Delete backups in batch" class="ginger-dialog">
    <div class="del-option">
        <input type="radio" name="batDelType" value="counts_ago" checked>$_("Preserve the latest") <input type="text" class=""> $_("backups")
    </div>
    <div class="del-option">
        <input type="radio" name="batDelType" value="days_ago">$_("Preserve the latest") <input type="text" class="" disabled> $_("days of backups")
    </div>
</div>

<div id="subscriptionAdd" title="Add Subscription" class="ginger-dialog">
    <div class="subsc-add-body">
        <div class="subsc-add-label subsc-colume">
            <div class="subsc-label">$_("Hostname")</div>
            <div class="subsc-label">$_("Port")</div>
            <div class="subsc-label">$_("Community")</div>
        </div>
        <div class="subsc-add-content subsc-colume">
            <input class="subsc-input inputbox" name="hostname" /><br>
            <input class="subsc-input inputbox" name="port" /><br>
            <input class="subsc-input inputbox" name="community" /><br>
        </div>
        <div class="subsc-manage-footer">
            <button id="subsc-submit" disabled>$_("Submit")</button>
            <button id="subsc-cancel">$_("Cancel")</button>
        </div>
    </div>
</div>

<div id="hostUserAdd" title="Add User" class="ginger-dialog">
    <div class="user-add-body">
        <div class="user-add-label user-colume">
            <div class="user-label">$_("User Name")</div>
            <div class="user-label">$_("Password")</div>
            <div class="user-label">$_("Confirm Password")</div>
            <div class="user-label">$_("Group")</div>
            <div class="user-label">$_("Profile")</div>
        </div>
        <div class="user-add-content user-colume">
            <input class="user-input inputbox" name="userName" /><br>
            <input class="user-input inputbox" name="userPasswd" type="password" /><br>
            <input class="user-input inputbox" name="userConfirmPasswd" type="password" /><br>
            <input class="user-input inputbox" name="userGroup" disabled /><input class="enable-combobox" id="enableEditGroup" type="checkbox" value=""><label class="enable-combobox">$_("Use Other")</label><br>
            <div class="user-input">
                <input id="kimchiuser" type="radio" name="userProfile" value="kimchiuser" /><label for="kimchiuser">$_("Kimchi User")</label>
                <input id="virtuser" type="radio" name="userProfile" value="virtuser" /><label for="virtuser">$_("Virt User")</label>
                <input id="admin" type="radio" name="userProfile" value="admin" /><label for="admin">$_("Administrator")</label>
            </div>
        </div>
        <div class="user-manage-footer">
            <button id="user-submit" disabled>$_("Submit")</button>
            <button id="user-cancel">$_("Cancel")</button>
        </div>
    </div>
</div>


</div>
<script id="backupItem" type="text/html">
<div class="bak-grid-item" id="{identity}">
    <div class="cell file-col">{file}</div>
    <div class="cell time-col">{timestamp}</div>
    <span class="cell act-button download"></span>
    <span class="cell act-button delete"></span>
</div>
</script>
<script id="backupTooltip" type="text/html">
<div class="header">$_("Description")</div>
<div class="sub-content">{description}</div>
<div class="crt-bak-section">
    <div class="path-pick"><div class="header">$_("Path Included")</div><div class="sub-content">includePlaceHodler</div></div>
    <div class="path-pick"><div class="header">$_("Path Excluded")</div><div class="sub-content">excludePlaceHodler</div></div>
</div>
</script>
<script id="pathItem" type="text/html">
<div class="path-item"><input type="text"><button class="add"></button><button class="delete"></button></div>
</script>
<script id="nicItem" type="text/html">
<div class="item">
    <span class="cell name">{name}</span><!--
    --><span class="cell ip"><label class="{viewMode}">{ipaddr}</label><input type="text" class="{editMode}" value="{ipaddr}"></span><!--
    --><span class="cell mask"><label class="{viewMode}">{netmask}</label><input type="text" class="{editMode}" value="{netmask}"></span>
    <span class="action-area">
    <button class="edit {viewMode}"></button>
    <button class="save {editMode}"></button>
    <button class="cancel hide"></button>
    </span>
</div>
</script>
<script id="nwGlobalItem" type="text/html">
<div class="sec-content">
    <input type="text" value="{ip}">
    <button class="edit {viewMode}"></button>
    <button class="save {editMode}"></button>
    <button class="cancel hide"></button>
</div>
</script>
<script id="pwMgmtItem" type="text/html">
<div class="item"><span class="ui-icon {selected}"></span><span class="{toSelect}">{name}</span></div>
</script>
<script id="sensorBody" type="text/html">
<div class="sensor-inline">
    <div class="sensor-head">{labelHead}</div>
    <div class="sensor-body" id={labelHead}></div>
</div>
</script>
<script id="sensorUnit" type="text/html">
<div class="sensor-body-label">{labelBody}:  {labelNumber}   {labelUnit}</div>
</script>
<script id="userItem" type="text/html">
<div class="user-item">
    <div class="user-manage-column" data-type="name">{userName}</div>
    <div class="user-manage-column" data-type="group">{userGroup}</div>
    <div class="user-manage-column" data-type="profile">{userProfile}</div>
    <button class="detach"></button>
</div>
</script>
<script id="subscItem" type="text/html">
<div class="subsc-item">
    <div class="subsc-manage-column" data-type="hostname">{hostname}</div>
    <div class="subsc-manage-column" data-type="port">{port}</div>
    <div class="subsc-manage-column" data-type="community">{community}</div>
    <button class="detach"></button>
</div>
</script>
<script>
    ginger.initAdmin();
</script>
<script id="userManagement" type="text/javascript"></script>
</body>
</html>
