#*
 * Project Ginger
 *
 * Copyright IBM Corp, 2016-2017
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="plugins/ginger/js/host-admin-editrule.js">
        </script>
    </head>
    <body>
    <div class="modal-content" id="Edit-Rule">
        <div class="modal-header">
            <button type="button" id="EditRule-button-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">$_("Edit Rule")</h4>
        </div>
        <hr>
        <div class="modal-body" id="AuditEdit">
        <span id="editrule-message" style="display:none;"></span>
          <form role="tabpanel" class="tab-pane form-horizontal" id="EditAuditRule">
            <div id="filesystemedit">
            <div class="form-group">
              <label class="col-sm-4" for="rule-type">$_("Rule Type")</label>
              <div class="col-sm-8 col-xs-3">
                <input id="rule-type" class="form-control" name="ruletype" type="text" disabled  style="display: none;" value="File System Rule"/>
                <input id="t-rule-type" class="form-control" name="truletype" type="text" disabled/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4" for="permissionID">$_("Permission")</label>
              <div class="col-sm-8">
                <div id="pers">
                  <span class="btn btn-default btn-file col-sm-12">
                  <div>
                  <label class="form-check-inline" style="width:50%; padding-right:25px;">
                    <input class="form-check-input" type="checkbox" name="permission" id="readp" value="r">&nbsp$_("Read")
                  </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <label class="form-check-inline" style="width:50%;">
                    <input class="form-check-input" type="checkbox" name="permission" id="writep" value="w">&nbsp$_("Write")
                  </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  </div>
                  <label class="form-check-inline" style="width:50%;">
                    <input class="form-check-input" type="checkbox" name="permission" id="executep" value="x">&nbsp$_("Execute")
                  </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <label class="form-check-inline" style="width:50%;">
                    <input class="form-check-input" type="checkbox" name="permission" id="changep" value="a">&nbsp$_("Change")
                  </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </span>
              </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4" for="filetowatch">$_("File to Watch")</label>
              <div class="col-sm-8 col-xs-3">
                <input id="filetowatch" class="form-control" name="filename" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4" for="keyedit">$_("Key")</label>
              <div class="col-sm-8 col-xs-3">
                <input id="keyedit" class="form-control" name="key" type="text"/>
              </div>
            </div>
          </div>
          </form>
        </div>
      <div class="modal-footer">
          <button type="button" id="EditRule-submit" class="btn btn-default" >$_("Apply")</button>
          <button type="button" id="EditRule-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
      </div>
  </div>
  <script>
         ginger.initEditRule();
  </script>
</body>
</html>
