#*
 * Project Ginger
 *
 * Copyright IBM Corp, 2016
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
    <head>
    </head>
    <div class="modal-content" id="iSCSI-settings-iqn-content">
        <div class="modal-header">
            <button type="button" id="iSCSI-settings-iqn-button-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">$_("iSCSI: Global Authentication Configuration")</h4>
        </div>
        <hr>
        <div class="modal-body" id="iSCSI-settings-iqn">
            <div id="alert-iSCSI-settings-iqn"></div>
            <form id="form-iSCSI-settings-iqn">
              <span id="iSCSI-settings-iqn-message" style="display:none;"></span>
              <div class="form-group">
                  <div class="row"><label for="" class="col-md-5 col-lg-5"> $_("Authentication") </label></div>
                <div class="row">
                  <div class="col-sm-4">
                  <select id="iSCSI-settings-authentication" class="form-control">
                    <option value="initiator_auth">$_("Initiator")</option>
                    <option value="target_auth">$_("Target")</option>
                    <option value="discovery_initiator_auth">$_("Discovery Initiator")</option>
                    <option value="discovery_target_auth">$_("Discovery Target")</option>
                  </select>
                </div>
              </div>
              </div>
              <div class="row" id="iSCSI-settings-container" style="visibility:hidden">
                      <div class="form-group">
                        <div class='clearfix well'>
                            <!-- <div class="row form-group">
                             <div class="col-sd-12"><span>&nbsp;</span></div>
                           </div> -->
                            <div class="row">
                              <label for="" class="col-md-4 col-lg-4">$_(" Type ")</label>
                              <div class="iSCSI-credential col-md-7 col-md-push-1">
                              <label for="" class="col-md-6 col-lg-6">$_(" Username ")</label>
                              <label for="" class="col-md-6 col-lg-6">$_(" Password ")</label>
                            </div>
                            </div>
                            <div class="row form-group  targets-settings-container"  style="">
                              <div class="col-md-4 col-lg-4">
                                <select id="iSCSI-settings-type" class="form-control">
                                  <option value="CHAP">$_("CHAP")</option>
                                  <option value="None">$_("None")</option>
                                </select>
                                </div>
                                <div class="iSCSI-credential  col-md-7 col-md-push-1">
                                <div class="col-md-6 col-lg-6">
                                <input type="text" id="iSCSI-settings-username" placeholder="$_('Username')">
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <input type="password" id="iSCSI-settings-password" placeholder="$_('Password')">
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
              <div class="wok-mask iSCSI-settings-loader">
                <div class="wok-mask-loader-container">
                  <div class="wok-mask-loading">
                    <div class="wok-mask-loading-icon"></div>
                    <div class="wok-mask-loading-text">$_("Please wait...")</div>
                  </div>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="iSCSI-settings-update" class="btn btn-default">$_("Update")</button>
            <button type="button" id="iSCSI-settings-close" class="btn btn-default" data-dismiss="modal">$_("Close")</button>
        </div>
    </div>
    <script>
        ginger.initiSCSIsettings();
    </script>
</body>
</html>
