<!DOCTYPE html>
#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>
<head>
<link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
<script type="text/javascript" src="plugins/ginger/js/util.js"></script>
<script type="text/javascript" src="plugins/ginger/js/host-admin.js"></script>
</head>
<body>
<div class="ginger">

<div id="gingerHostAdmin" class="host-admin">
    <h3>$_("Firmware Update")</h3>
    <div class="content-area">
        <div id="gingerFWUpdateMess" class="message-area" style="display: none;">
            <span class="progress-icon"></span>
            <span>$_("Firmware update is initializing. System will reboot in order to flash the firmware.")</span>
        </div>
        <div class="section">
            <span>$_("Firmware Version: ")</span>
            <span id="gingerFWVer" class="firmware-ver"></span>
        </div>
        <div class="section">
            <div class="pack-path-label">$_("Package Path: ")</div>
            <div class="pack-path-content">
                <input type="text" id="gingerPackPath" class="pack-path-input">
                <div class="input-hint">
                    <span class="ui-icon ui-icon-info input-hint-icon"></span>
                    <span class="input-hint-text">$_("The absolute path to the firmware rpm.")</span>
                    </div>
            </div>
            <button id="gingerPackPathSub">$_("Update")</button>
        </div>
    </div>
    <h3>$_("Configuration Backup")</h3>
    <div class="content-area">
        <div class="action-bar">
            <span id="batDelBtn" class="item">$_("Batch Delete")</span>
            <span id="newCustomBakBtn" class="item">$_("New Custom Backup")</span>
            <span id="newDefaultBakBtn" class="item">$_("Generate Default Backup")</span>
        </div>
        <div class="bak-grid-header">
            <div class="cell file-col">$_("File")</div>
            <div class="cell time-col">$_("Timestamp")</div>
        </div>
        <div id="bakGridBody" class="bak-grid-body"></div>
    </div>
    <h3>$_("Network Configuration")</h3>
    <div class="content-area nw-config">
        <div class="pane interface">
            <div class="sec-label"><span>$_("Interface")</span></div>
            <div class="sec-content">
                <div class="grid-head"><span class="cell name">$_("Name")</span><span class="cell ip">$_("IP")</span><span class="cell mask">$_("Mask")</span></div>
                <div class="grid-body" id="gingerInterface"></div>
            </div>
        </div>
        <div class="pane global">
            <div class="vertical-separator">
                <div class="sec-label"><span>$_("DNS")</span><button id="gingerDnsAdd" class="addBtn"></button></div>
                <div id="gingerDNS"></div>
            </div>
            <div>
                <div class="sec-label"><span>$_("Gateway")</span></div>
                <div id="gingerGateway"></div>
            </div>
        </div>
    </div>
    <h3>$_("Power Options")</h3>
    <div class="content-area" id="gingerPowerMgmt">
        <div class="pw-opt">
        <div class="header">
            <span class="ui-icon ui-icon-check legend"></span><span class="legend separator">$_("Activated Option")</span>
            <span class="ui-icon ui-icon-radio-on legend"></span><span class="legend separator">$_("Selected Option")</span>
            <span class="ui-icon ui-icon-radio-off legend"></span><span class="legend">$_("Unselected Option")</span>
            <span class="actBtn">$_("Activate")</span>
        </div>
        <div class="body"></div>
        </div>
    </div>
    <h3>$_("SAN Adapters")</h3>
    <div class="content-area san-adapter">
        <div class="cell name"><div class="head">$_("Name")</div><div class="body"></div></div>
        <div class="cell wwpn"><div class="head">$_("WWPN")</div><div class="body"></div></div>
        <div class="cell wwnn"><div class="head">$_("WWNN")</div><div class="body"></div></div>
        <div class="cell state"><div class="head">$_("State")</div><div class="body"></div></div>
        <div class="cell port"><div class="head">$_("In-Use/Max Ports")</div><div class="body"></div></div>
        <div class="cell speed"><div class="head">$_("Speed")</div><div class="body"></div></div>
        <div class="cell symbolic"><div class="head">$_("Symbolic Name")</div><div class="body"></div></div>
    </div>
    <h3>$_("Sensor Monitor")</h3>
    <div class="content-area sensor-panel">
    </div>
    <h3>$_("SEP Configuration")</h3>
    <div class="content-area sep-config">
        <div class="sep-field">
            <div class="sep-label">$_("Status:")</div>
            <div class="sep-label">$_("Host Name:")</div>
            <div class="sep-label">$_("Port:")</div>
            <div class="sep-label">$_("SNMP Community:")</div>
        </div>
        <div class="sep-field">
            <input id="sepStatusLog" class="sep-input" disabled="disabled" value="Disabled"><br />
            <input id="sepHostName" class="sep-input" /><br />
            <input id="sepPort" class="sep-input" /><br />
            <input id="sepSNMPCommunity" class="sep-input" />
        </div>
        <div class="sep-field sep-buttons">
            <span id="sepSubscribe" class="actBtn" >$_("Subscribe")</span>
            <span id="sepStart" class="actBtn">$_("Start")</span>
            <span id="sepStop" class="actBtn" style="display:none">$_("Stop")</span>
        </div>
    </div>
</div>
<div id="newBakDialog" title="Create a backup" class="ginger-dialog">
    <div>$_("Description")</div>
    <div class="crt-bak-section"><input type="text" class="desc"></div>
    <div class="crt-bak-section">
        <div class="path-pick">
            <div>$_("Path Included")</div>
            <div class="box" id="includeBox"></div>
        </div>
        <div class="path-pick">
            <div>$_("Path Excluded")</div>
            <div class="box" id="excludeBox"></div>
        </div>
    </div>
</div>
<div id="batDelDialog" title="Delete backups in batch" class="ginger-dialog">
    <div class="del-option">
        <input type="radio" name="batDelType" value="counts_ago" checked>$_("Preserve the latest") <input type="text" class=""> $_("backups")
    </div>
    <div class="del-option">
        <input type="radio" name="batDelType" value="days_ago">$_("Preserve the latest") <input type="text" class="" disabled> $_("days of backups")
    </div>
</div>

</div>
<script id="backupItem" type="text/html">
<div class="bak-grid-item" id="{identity}">
    <div class="cell file-col">{file}</div>
    <div class="cell time-col">{timestamp}</div>
    <span class="cell act-button download"></span>
    <span class="cell act-button delete"></span>
</div>
</script>
<script id="backupTooltip" type="text/html">
<div class="header">$_("Description")</div>
<div class="sub-content">{description}</div>
<div class="crt-bak-section">
    <div class="path-pick"><div class="header">$_("Path Included")</div><div class="sub-content">includePlaceHodler</div></div>
    <div class="path-pick"><div class="header">$_("Path Excluded")</div><div class="sub-content">excludePlaceHodler</div></div>
</div>
</script>
<script id="pathItem" type="text/html">
<div class="path-item"><input type="text"><button class="add"></button><button class="delete"></button></div>
</script>
<script id="nicItem" type="text/html">
<div class="item">
    <span class="cell name">{name}</span><!--
    --><span class="cell ip"><label class="{viewMode}">{ipaddr}</label><input type="text" class="{editMode}" value="{ipaddr}"></span><!--
    --><span class="cell mask"><label class="{viewMode}">{netmask}</label><input type="text" class="{editMode}" value="{netmask}"></span>
    <span class="action-area">
    <button class="edit {viewMode}"></button>
    <button class="save {editMode}"></button>
    <button class="cancel hide"></button>
    </span>
</div>
</script>
<script id="nwGlobalItem" type="text/html">
<div class="sec-content">
    <input type="text" value="{ip}">
    <button class="edit {viewMode}"></button>
    <button class="save {editMode}"></button>
    <button class="cancel hide"></button>
</div>
</script>
<script id="pwMgmtItem" type="text/html">
<div class="item"><span class="ui-icon {selected}"></span><span class="{toSelect}">{name}</span></div>
</script>
<script id="sensorBody" type="text/html">
<div class="sensor-inline">
    <div class="sensor-head">{labelHead}</div>
    <div class="sensor-body" id={labelHead}></div>
</div>
</script>
<script id="sensorUnit" type="text/html">
<div class="sensor-body-label">{labelBody}:  {labelNumber}   {labelUnit}</div>
</script>
<script>
    ginger.initAdmin();
</script>
</body>
</html>
