#*
 * Project Ginger
 *
 * Copyright IBM Corp, 2016
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<body>
    <head>
        <script type="text/javascript" src="plugins/ginger/js/host-storage-addswap.js">
        </script>
    </head>
    <div class="modal-content" id="AddSwapDevice-content">
        <div class="modal-header">
            <button type="button" id="swap-add-button-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">$_("Swap Devices")</h4>
        </div>
        <hr>
        <div class="modal-body" id="AddSwapDevice">
            <div id="alert-swap-modal"></div>
            <form id="form-swap-add">
                <span id="swapadd-message" style="display:none;"></span>
                <div class="form-group">
                    <label class="col-md-5 col-lg-5">$_("Type")</label>
                    <select id="swapType" class="selectpicker col-md-7 col-lg-7">
                        <option value="device">$_("Device")</option>
                        <option value="file">$_("File")</option>
                    </select>
                </div>
                <div class="row" id="AddSwap-device-container" hidden>
                    <!--Filled by JS-->
                </div>
                <div class="row" id="AddSwap-file-container" style="display:none" hidden>
                    <div class="form-group">
                        <label for="swapname-textbox">$_("Absolute File Path")</label>
                        <input type="text" class="form-control inputbox" id="swapname-textbox" name="Name" />
                        <p class="help-block">
                            <i class="fa fa-info-circle"></i>$_("Enter file name with path (Ex: path/filename"))</p>
                        <label>$_("Size")</label>
                        <div class="row">
                            <div class="form-group col-md-3 col-lg-3">
                                <input type="text" id="slider-value" value="1" class="form-control inputbox" disabled>
                                <span class="value" id="spanvalue" hidden></span></div>
                            <div class="slider col-md-8 col-lg-8" id="slider-id" style="margin-left:60px; margin-top:9px;">
                            </div><span id="min-slider-value" style="margin-left:50px"></span><span id="max-slider-value" style="margin-left:405px"></span></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="Swap-submit" class="btn btn-default" disabled >$_("Apply")</button>
            <button type="button" id="Swap-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
        </div>
    </div>
    <script>
        ginger.initAddSwap();
    </script>
</body>
</html>
