#*
 * Copyright IBM Corp, 2014-2017
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *#

#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
{
    "Settings": "$_("Settings")",
    "Administration": "$_("Administration")",
    "Network": "$_("Network")",
    "Audit": "$_("Audit")",
    "Storage": "$_("Storage")",
    "System Modules": "$_("System Modules")",
    "System Services": "$_("System Services")",
    "Manual": "$_("Manual")",
    "Automatic(DHCP)": "$_("Automatic(DHCP)")",
    "Automatic": "$_("Automatic")",
    "Loading list of unloaded modules, please wait": "$_("Loading list of unloaded modules, please wait")",
    "GINNET0001M": "$_("Name")",
    "GINNET0002M": "$_("Status")",
    "GINNET0003M": "$_("Type")",
    "GINNET0004M": "$_("Address Space")",
    "GINNET0005M": "$_("Mac Address")",
    "GINNET0006M": "$_("Add Bond")",
    "GINNET0007M": "$_("Add VLAN")",
    "GINNET0008M": "$_("Add Adapter")",
    "GINNET0009M": "$_("Up")",
    "GINNET0010M": "$_("Down")",
    "GINNET0011M": "$_("Restart")",
    "GINNET0012M": "$_("Settings")",
    "GINNET0013M": "$_("Delete")",
    "GINNET0015M": "$_("Ok")",
    "GINNET0016M": "$_("Bring up interface")",
    "GINNET0017M": "$_("Bring down interface")",
    "GINNET0018M": "$_("Restart interface")",
    "GINNET0019M": "$_("Delete interface")",
    "GINNET0020M": "$_("successfully")",
    "GINNET0021M": "$_("failed!")",
    "GINNET0022M": "$_("Either no network interface or multiple network interfaces selected. Please select one.")",
    "GINNET0024M": "$_("Global DNS and Gateway applied successfully")",
    "GINNET0025M": "$_("Please wait...")",
    "GINNET0026M": "$_("Create")",
    "GINNET0027M": "$_("Update")",
    "GINNET0028M": "$_("Are you sure you want to delete interface %1?")",
    "GINNET0032M": "$_("Are you sure you want to delete interface %1? <br> This may affect network connectivity!")",
    "GINNET0033E": "$_("Failed to retrieve list of interfaces!")",
    "GINNET0034E": "$_("Persistent file is not available for interface %1.")",
    "GINNET0035E": "$_("Failed to retrieve Globl DNS and Gateway!")",
    "GINNET0036E": "$_("Module")",
    "GINNET0037E": "$_("SR-IOV Setup")",
    "GINNET0038M": "$_("DNS")",
    "GINNET0039E": "$_("RDMA enabled")",
    "GINNET0040M": "$_("Up")",
    "GINNET0041M": "$_("Down")",
    "GINNET0042M": "$_("Remove")",
    "GINNET0043M": "$_("Remove Interface")",
    "GINNET0044M": "$_("This will remove the interface %1 from %2. Do you want to continue?")",
    "GINNET0045M": "$_("OK")",
    "GINNET0046M": "$_("Cancel")",
    "GINNET0047M": "$_("Interface %1 was successfully removed")",
    "GINNET0048M": "$_("Remove Bridge")",
    "GINNET0049M": "$_("This will remove the bridge %1. Do you want to continue?")",
    "GINNET0050M": "$_("Bridge %1 was successfully removed")",
    "GINNET0051M": "$_("Remove Bond")",
    "GINNET0052M": "$_("This will remove the bond %1. Do you want to continue?")",
    "GINNET0053M": "$_("Bond %1 was successfully removed")",
    "GINNET0054M": "$_("Bond %1 was successfully modified")",
    "GINNET0055M": "$_("No results found!")",
    "GINNET0056M": "$_("None")",
    "GINNET0057M": "$_("Interface %1 was successfully added")",
    "GINNET0058M": "$_("Bond %1 was successfully added")",
    "GINNET0059M": "$_("Bond %1 was successfully modified")",
    "GINNET0060M": "$_("and other %1 bonds")",
    "GINNET0061M": "$_("and other %1 interfaces")",
    "GINNET0062M": "$_("NIC type")",
    "GINNET0063M": "$_("No results found")",
    "GINNET0064M": "$_("Delete")",
    "GINNET0065M": "$_("Save")",
    "GINNET0066M": "$_("Cancel")",
    "GINNET0067M": "$_("Add New Entry")",
    "GINNET0068M": "$_("Unsaved Changes")",
    "GINNET0069M": "$_("You have unsaved changes. Do you want to save them?")",
    "GINNET0070M": "$_("Invalid Data")",
    "GINNET0071M": "$_("You have unsaved changes with invalid data. Do you want to edit them or discard them?")",
    "GINNET0072M": "$_("Save")",
    "GINNET0073M": "$_("Cancel")",
    "GINNET0074M": "$_("Edit")",
    "GINNET0075M": "$_("Ok")",
    "GINNET0076M": "$_("You have unsaved changes and this will discard them. Do you want to continue?")",
    "GINNET0077M": "$_("Yes")",
    "GINNET0078M": "$_("No")",
    "GINNET0079M": "$_("Successfully brought down the interface %1.")",
    "GINNET0080M": "$_("Failed to bring down the interface %1.")",
    "GINNET0081M": "$_("Successfully brought up the interface %1.")",
    "GINNET0082M": "$_("Failed to bring up the interface %1.")",
    "GINNET0083M": "$_("Successfully restarted the interface %1.")",
    "GINNET0084M": "$_("Failed to restart the interface %1.")",
    "GINNET0085M": "$_("Successfully deleted the interface %1.")",
    "GINNET0086M": "$_("Failed to delete the interface %1.")",
    "GINNET0087M": "$_("Successfully created the interface %1.")",
    "GINNET0088M": "$_("Failed to create the interface %1.")",
    "GINNET0089M": "$_("Successfully updated the interface %1.")",
    "GINNET0090M": "$_("Failed to update the interface %1.")",
    "GINNET0091M": "$_("Global DNS and Gateway failed to apply")",

    "GINBG00001M": "$_("Loading...")",
    "GINBG00002M": "$_("Filter")",
    "GINBG00003M": "$_("Actions")",
    "GINBG00004M": "$_("Add")",
    "GINBG00005M": "$_("Showing {{ctx.start}} to {{ctx.end}} of {{ctx.total}} entries")",
    "GINBG00006M": "$_("invalid field")",

    "GINUM0003M": "$_("Password changed successfully. Please login to continue!")",
    "GINUM0004M": "$_("Ok")",
    "GINUM0005M": "$_("Cancel")",
    "GINUM0006M": "$_("Password changed successfully for '%1'.")",
    "GINUM0007M": "$_("'%1' deleted successfully.")",

    "GINCFGB00001M" : "$_("New Config Backup creation has started.")",
    "GINCFGB00004M" : "$_("New Config Backup restore has started.")",
    "GINCFGB00002M" : "$_("Config Backup has been successfully created.")",
    "GINCFGB00003M" : "$_("Config Backup has been successfully restored.")",
    "GINTITLE0001M": "$_("Name")",
    "GINTITLE0002M": "$_("Type")",
    "GINTITLE0003M": "$_("Mount Point")",
    "GINTITLE0004M": "$_("Size (MB)")",
    "GINTITLE0005M": "$_("Usage")",
    "GINTITLE0006M": "$_("Capacity (MB)")",
    "GINTITLE0007M": "$_("WWPN")",
    "GINTITLE0008M": "$_("WWNN")",
    "GINTITLE0009M": "$_("State")",
    "GINTITLE0010M": "$_("In-Use/Max Ports")",
    "GINTITLE0011M": "$_("Speed")",
    "GINTITLE0012M": "$_("Symbolic Name")",
    "GINTITLE0013M": "$_("Generic")",
    "GINTITLE0014M": "$_("Device")",
    "GINTITLE0015M": "$_("Target")",
    "GINTITLE0016M": "$_("Model")",
    "GINTITLE0018M": "$_("Id")",
    "GINTITLE0019M": "$_("Multipath Links")",
    "GINTITLE0020M": "$_("Add")",
    "GINTITLE0021M": "$_("Refresh")",
    "GINTITLE0022M": "$_("Remove")",
    "GINTITLE0023M": "$_("Add FCP Device")",
    "GINTITLE0024M": "$_("Add ECKD Device")",
    "GINTITLE0025M": "$_("Format ECKD")",
    "GINTITLE0026M": "$_("Port type")",
    "GINTITLE0027M": "$_("N/A")",
    "GINTITLE0028M": "$_("Details")",
    "GINNWS0001M": "$_("Successfully applied setting for interface: ")",
    "GINNWS0002M": "$_("Automatic")",
    "GINNWS0003M": "$_("Manual")",
    "GINNWS0004M": "$_("Address")",
    "GINNWS0005M": "$_("Prefix")",
    "GINNWS0006M": "$_("DNS")",
    "GINNWS0007M": "$_("Netmask")",
    "GINNWS0008M": "$_("Gateway")",
    "GINNWS0009M": "$_("Metric")",
    "GINNWS0010M": "$_("Automatic(DHCP)")",
    "GINNWS0011M": "$_("Mask")",
    "GINNWS0012M":"$_("Default Gateway")",
    "GINNWS0013M":"$_("BOND")",
    "GINNWS0014M":"$_("VLAN")",
    "GINNWS0015M":"$_("MI(Recommended)")",
    "GINDASD0001E": "$_("Failed to format %1. Either format currently going on or device not available for format. Please try after sometime.")",
    "GINSD00001":  "$_("Do you want to remove the selected Storage device(s)?")",
    "GINSD00002":  "$_("Do you want to format the selected ECKD device(s)?")",
    "GINSD00003":  "$_("Do you want to format the selected ECKD device(s)? Non-ECKD device(s) which will be skipped i.e. not be formatted!")",
    "GGBAPI6002M": "$_("Ok")",
    "GGBAPI6003M": "$_("Cancel")",
    "GINSD00003M": "$_("No storage device selected. Please select one.")",
    "GINSD00004M": "$_("Ok")",
    "GINSD00005M": "$_("Mixed selection of ECKD and non-ECKD devices")",
    "GINSD00006M": "$_("Formatting...")",
    "GINSD00007M": "$_("formatted successfully")",
    "GINSD00008M": "$_("Removing...")",
    "GINSD00009M": "$_("removed successfully")",
    "GINSD00010M": "$_("Lun scan is enabled. Cannot add/remove LUNs manually")",
    "GINPT00001M": "$_("Do you want to remove the device from VG?")",
    "GINPT00002M": "$_("Ok")",
    "GINPT00003M": "$_("Cancel")",
    "GINPT00004M": "$_("Device removed from Volume Group")",
    "GINPT00005M": "$_("Partition added successfully")",
    "GINPT00006M": "$_("Format completed successfully")",
    "GINPT00007M": "$_("PV created successfully please wait till device is added to Volume Group")",
    "GINPT00008M": "$_("Device added successfully to Volume Group")",
    "GINPT00009M": "$_("Do you want to delete the partition?")",
    "GINPT00010M": "$_("Ok")",
    "GINPT00011M": "$_("Cancel")",
    "GINPT00012M": "$_("%1 device deleted successfully.")",
    "GINPT00013M": "$_("No VG Name define for this device")",
    "GINPT00014M": "$_("Please select one device to add partition.")",
    "GINPT00015M": "$_("Create Partition")",
    "GINPT00016M": "$_("Selected Partition is part of a Volumn group. Removal may hamper the Volumn group usage. Are you sure you want to delete this partition?")",
    "GINPT00017M": "$_("Selected device is not formatted. Please format the device to proceed with partition creation.")",
    "GINNWVLANS0001M":"$_("VLAN interface name is missing or provided incorrectly")",
    "GINNWVLANS0002M":"$_("VLANID mandatory in case VLAN interface do not have VLANID in it.")",
    "GINSYS0001M": "$_("None")",
    "GINSYS0002M": "$_("N/A")",
    "GINSYS0003M": "$_("OK")",
    "GINSYS0004M": "$_("Cancel")",
    "GINSYS0005M": "$_("Unload Module")",
    "GINSYS0006M": "$_("This will unload the module %1. Do you want to continue?")",
    "GINSYS0007M": "$_("This module does not have any parameters.")",
    "GINSYS0008M": "$_("Custom Load")",
    "GINSYS0009M": "$_("Parameters")",
    "GINSYS0010M": "$_("In order to enable the selected feature you must fill the parameters below:")",
    "GINSYS0011M": "$_("Parameters must be set with an equals sign (=) and separated by a whitespace ( ). <br /> Example: param1=value param2=value")",
    "GINSYS0012M": "$_("Module %1 was successfully loaded")",
    "GINSYS0013M": "$_("Module %1 was successfully unloaded")",
    "GINSYS0014M": "$_("Signature Key")",
    "GINSYS0015M": "$_("Description")",
    "GINSYS0016M": "$_("License")",
    "GINSYS0017M": "$_("Vermagic")",
    "GINSYS0018M": "$_("Intree")",
    "GINSYS0019M": "$_("File name")",
    "GINSYS0020M": "$_("SRC Version")",
    "GINSYS0021M": "$_("Authors")",
    "GINSYS0022M": "$_("Signer")",
    "GINSYS0023M": "$_("Signer Hash Algorithm")",
    "GINSYS0024M": "$_("Aliases")",
    "GINSYS0025M": "$_("Parameters")",
    "GINSYS0026M": "$_("Features")",
    "GINSYS0027M": "$_("Sent command to start service %1")",
    "GINSYS0028M": "$_("Sent command to stop service %1")",
    "GINSYS0029M": "$_("Sent command to restart service %1")",
    "GINUSR0001M": "$_("User Deletion")",
    "GINUSR0002M": "$_("Are you sure you want to delete this user?")",
    "GINUSR0003M": "$_("Currently logged user of this session is not allowed to be deleted.")",
    "GINNWBONDS0001M":"$_("BOND interface name is missing or invalid")",
    "GINSEN0001M": "$_("Input")",
    "GINSEN0002M": "$_("Min")",
    "GINSEN0003M": "$_("Max")",
    "GINSEN0004M": "$_("Fault")",
    "GINSEN0005M": "$_("Cores")",
    "GINSEN0006M": "$_("PCI")",
    "GINSEN0007M": "$_("Fans")",
    "GINSEN0008M": "$_("Ambient")",
    "GINSEN0009M": "$_("Power")",
    "GINSEN00010M": "$_("Others")",
    "GINSEN00011M": "$_("HDD")",
    "GINSWP0001M": "$_("Swap Deletion")",
    "GINSWP0002M": "$_("Are you sure you want to delete the selected file/device?")",
    "GINSWP0003M": "$_("OK")",
    "GINSWP0004M": "$_("Cancel")",
    "GINSWP0005M": "$_("successfully deleted")",
    "GINSWP0006M": "$_("Path")",
    "GINSWP0007M": "$_("Successfully added swap device ")",
    "GINSWP0008M": "$_("Successfully added swap file ")",
    "GINSWP0009M": "$_("Please enter Filename and Filesize")",
    "GINSWP0010M": "$_("Please select a device")",
    "GINFS0001M": "$_("File system on %1 successfully unmounted")",
    "GINFS0002M": "$_("File system successfully mounted on  %1")",
    "GINFS0003M": "$_("Details")",
    "GINFS0004M": "$_("Are you sure you want to unmount the selected file systems?")",
    "GINFS0005M": "$_("Use%")",
    "GINFS0006M": "$_("Used (MB)")",
    "GINFS0007M": "$_("Available (MB)")",
    "GINFS0008M": "$_("File System")",
    "GINFS0009M": "$_("No NFS exports found on server %1")",
    "GINVG0001M":  "$_("Successfully created volume group  %1")",
    "GINVG0002M":  "$_("Successfully deleted volume group  %1")",
    "GINVG0003M":  "$_("Are you sure you want to delete volume group(s) : %1?")",
    "GINVG0004M":  "$_("Are you sure you want to create physical volumes with the selected partitions/block devices?")",
    "GINVG0005M":  "$_("Are you sure you want to create physical volumes with the selected block devices?")",
    "GINVG0006M":  "$_("Successfully created physical volume.")",
    "GINVG0007M":  "$_("Please select atleaset one partition to create physical volume")",
    "GINVG0008M":  "$_("Please select atleaset one block device to create physical volume")",
    "GINVG0009M":  "$_("No physical volume selected")",
    "GINVG00010M": "$_("Volume Group Name")",
    "GINVG00011M": "$_("Volume Group Status")",
    "GINVG00012M": "$_("Volume Group Size")",
    "GINVG00013M": "$_("Max LV")",
    "GINVG00014M": "$_("Free PE Size")",
    "GINVG00015M": "$_("Format")",
    "GINVG00016M": "$_("Current LV")",
    "GINVG00017M": "$_("Metadata Areas")",
    "GINVG00018M": "$_("Permission")",
    "GINVG00019M": "$_("Allocated PE")",
    "GINVG00020M": "$_("Physical Volumes Name")",
    "GINVG00021M": "$_("PE Size")",
    "GINVG00022M": "$_("System ID")",
    "GINVG00023M": "$_("Current PV")",
    "GINVG00024M": "$_("Free PE")",
    "GINVG00025M": "$_("Maximum PV")",
    "GINVG00026M": "$_("Total PE")",
    "GINVG00027M": "$_("VG UUID")",
    "GINVG00028M": "$_("Allocated PE Size")",
    "GINVG00029M": "$_("Metadata  Sequence No")",
    "GINVG00030M": "$_("MB")",
    "GINVG00031M": "$_("Resize")",
    "GINVG00032M": "$_("Are you sure you want to remove the pv(s)  %1 <br>from volume group %2?")",
    "GINVG00033M": "$_("Please select at least one physical volume for removal from Volume Group")",
    "GINVG00034M": "$_("Volume group %1 is successfully reduced")",
    "GINVG00035M": "$_("Volume group %1 is successfully extended")",
    "GINVG00036M": "$_("Are you sure you want to add the pv(s)  %1 <br>to volume group %2?")",
    "GINVG00037M": "$_("Please select at lease one volume group for deletion.")",
    "GINVG00038M": "$_("Reduce")",
    "GINVG00039M": "$_("Please select a volume group for resize.")",
    "GINVG00040M": "$_("Extend")",
    "GINVG00041M": "$_("Create Physical Volumes")",
    "GINVG00042M": "$_("No physical volume selected")",
    "GINVG00043M": "$_("Create a new volume group")",
    "GINVG00044M": "$_("Volume group :  %1")",
    "GINVG00045M": "$_("Please select either an existing physical volume or select a block device for creating a new physical volume to proceed.")",
    "GINVG00046M": "$_("Enter Name")",
    "GINVG00047M": "$_("Select an existing PV")",
    "GINVG00048M": "$_("Create a new PV")",
    "GINVG00049M": "$_("Summary")",
    "GINIS00001M": "$_("Refresh")",
    "GINIS00002M": "$_("Discover Targets")",
    "GINIS00003M": "$_("Settings")",
    "GINIS00004M": "$_("Actions")",
    "GINIS00005M": "$_("Login")",
    "GINIS00006M": "$_("Logout")",
    "GINIS00007M": "$_("Re-Scan")",
    "GINIS00008M": "$_("Remove")",
    "GINIS00009M": "$_("Auth")",
    "GINIS00010M": "$_("iSCSI Login")",
    "GINIS00011M": "$_("Some of the selected devices are already Logged in.<br> Do you want to proceed login for Logged out devices?")",
    "GINIS00012M": "$_("Do you want to proceed login for selected devices?")",
    "GINIS00013M": "$_("Ok")",
    "GINIS00014M": "$_("Cancel")",
    "GINIS00015M": "$_("logged in successfully")",
    "GINIS00016M": "$_("iSCSI Logout")",
    "GINIS00017M": "$_("Some of the selected devices are already Logged out.<br> Do you want to proceed logout for Logged in devices?")",
    "GINIS00018M": "$_("Do you want to proceed logout for selected devices?")",
    "GINIS00019M": "$_("Ok")",
    "GINIS00020M": "$_("Cancel")",
    "GINIS00021M": "$_("logged out successfully")",
    "GINIS00022M": "$_("iSCSI Remove")",
    "GINIS00023M": "$_("Are you sure you want to remove selected devices?")",
    "GINIS00024M": "$_("Ok")",
    "GINIS00025M": "$_("Cancel")",
    "GINIS00026M": "$_("removed successfully")",
    "GINIS00027M": "$_("re-scan completed successfully")",
    "GINIS00028M": "$_("Discovery completed successfully")",
    "GINIS00029M": "$_("iSCSI global settings loaded successfully")",
    "GINIS00030M": "$_("Configuration updated successfully")",
    "GINIS00031M": "$_("iSCSI target settings loaded successfully")",
    "GINIS00032M": "$_("iSCSI target settings updated successfully")",
    "GINIS00033M": "$_("is not logged onto the target")",
    "GINIS00034M": "$_("Please select type of Authentication")",
    "GINAUDIT0001M": "$_("Rule Information not available")",
    "GINAUDIT0002M": "$_("Action")",
    "GINAUDIT0003M": "$_("Type")",
    "GINAUDIT0004M": "$_("System Call")",
    "GINAUDIT0005M": "$_("Field")",
    "GINAUDIT0006M": "$_("Key")",
    "GINAUDIT0007M": "$_("Filter Log")",
    "GINAUDIT0008M": "$_("Report")",
    "GINAUDIT0009M": "$_("Add new filter")",
    "GINAUDIT0010M": "$_("Enter Filter Value")",
    "GINAUDIT0011M": "$_("Audit Log Filter")",
    "GINAUDIT0012M": "$_("No log found matching the filter")",
    "GINAUDIT0013M": "$_("Date and Time")",
    "GINAUDIT0014M": "$_("Type")",
    "GINAUDIT0015M": "$_("Message")",
    "GINAUDIT0016M": "$_("Audit Log filter applied and output is rendered below")",
    "GINAUDIT0017M": "$_("Summary report is saved in the following path <strong>/var/lib/wok/logs/audit_summary_report.txt</strong>")",
    "GINAUDIT0018M": "$_("Report graph is saved in the following path <strong>%1</strong>")",
    "GINAUDIT0019M": "$_("Reset")",
    "GINAUDIT0020M": "$_("Report")",
    "GINAUDIT0021M": "$_("No rules selected. Please select one")",
    "GINAUDIT0022M": "$_("Do you want to delete following rules ?")",
    "GINAUDIT0023M": "$_("Successfully deleted")",
    "GINAUDIT0024M": "$_("Do you want to load following rules ?")",
    "GINAUDIT0025M": "$_("Successfully loaded")",
    "GINAUDIT0026M": "$_("Do you want to unload following rules ?")",
    "GINAUDIT0027M": "$_("Successfully unloaded")",
    "GINAUDIT0028M": "$_("Do you want to persist following rules ?")",
    "GINAUDIT0029M": "$_("Successfully persisted")",
    "GINAUDIT0030M": "$_("Please select one rule to edit")",
    "GINAUDIT0031M": "$_("Can't edit the rule, because selected rule is not persisted")",
    "GINAUDIT0032M": "$_("Please enter Path to File and permissions")",
    "GINAUDIT0033M": "$_("Successfully added the rule")",
    "GINAUDIT0034M": "$_("Configured successfully")",
    "GINAUDIT0035M": "$_("Updated successfully")",
    "GINAUDIT0036M": "$_("Can not delete Control Rule, since it is not persisted")",
    "GINAUDIT0037M": "$_("Successfully unpersisted the rule (Control Rules can not be unloaded)")",
    "GINAUDIT0038M": "$_("Control Rules can not be unloaded")",
    "GINAUDIT0039M": "$_("Selected Control Rules can not be deleted")",
    "GINAUDIT0040M": "$_("Please select Systemcall")",
    "GINAUDIT0041M": "$_("architecture")",
    "GINAUDIT0042M": "$_("audit uid")",
    "GINAUDIT0043M": "$_("Device Major Number")",
    "GINAUDIT0044M": "$_("Device Minor Number")",
    "GINAUDIT0045M": "$_("Directory")",
    "GINAUDIT0046M": "$_("Effective Group ID")",
    "GINAUDIT0047M": "$_("Effectice user ID")",
    "GINAUDIT0048M": "$_("exit")",
    "GINAUDIT0049M": "$_("Filesystem group ID")",
    "GINAUDIT0050M": "$_("Filesystem user ID")",
    "GINAUDIT0051M": "$_("Group ID")",
    "GINAUDIT0052M": "$_("Inode Number")",
    "GINAUDIT0053M": "$_("msgtype")",
    "GINAUDIT0054M": "$_("Object's UID")",
    "GINAUDIT0055M": "$_("Object's GID")",
    "GINAUDIT0056M": "$_("Resource SE Linux User")",
    "GINAUDIT0057M": "$_("Resource SE Linux Role")",
    "GINAUDIT0058M": "$_("Resource SE Linux Type")",
    "GINAUDIT0059M": "$_("Resource SE Linux Low Level")",
    "GINAUDIT0060M": "$_("Resource SE Linux High Level")",
    "GINAUDIT0061M": "$_("path")",
    "GINAUDIT0062M": "$_("permission")",
    "GINAUDIT0063M": "$_("Personality Number")",
    "GINAUDIT0064M": "$_("Process ID")",
    "GINAUDIT0065M": "$_("Parent's process ID")",
    "GINAUDIT0066M": "$_("Program's SE Linux User")",
    "GINAUDIT0067M": "$_("Program's SE Linux Role")",
    "GINAUDIT0068M": "$_("Program's SE Linux Type")",
    "GINAUDIT0069M": "$_("Program's SE Linux Sensitivity")",
    "GINAUDIT0070M": "$_("Program's SE Linux Clearance")",
    "GINAUDIT0071M": "$_("Saved GroupID")",
    "GINAUDIT0072M": "$_("success")",
    "GINAUDIT0073M": "$_("Saved User ID")",
    "GINAUDIT0074M": "$_("User ID")",
    "GINAUDIT0075M": "$_("Please enter Path to File.")",
    "GINAUDIT0076M": "$_("Please enter the permissions")",
    "GINAUDIT0077M": "$_("Please provide value for the selected option.")",
    "GINAUDIT0078M": "$_("System Call Rule")",
    "GINAUDIT0079M": "$_("Control Rule")",
    "GINAUDIT0080M": "$_("File System Rule")",
    "GINAUDIFILTER0001M":"$_("Audit Event ID")",
    "GINAUDIFILTER0002M":"$_("Architecture [b32 | b64]")",
    "GINAUDIFILTER0003M":"$_("Command")",
    "GINAUDIFILTER0004M":"$_("Debug")",
    "GINAUDIFILTER0005M":"$_("Syscall Exit Code or Error Number")",
    "GINAUDIFILTER0006M":"$_("File Name")",
    "GINAUDIFILTER0007M":"$_("Group ID")",
    "GINAUDIFILTER0008M":"$_("Host Name")",
    "GINAUDIFILTER0009M":"$_("Just Once")",
    "GINAUDIFILTER0010M":"$_("Key String")",
    "GINAUDIFILTER0011M":"$_("Message")",
    "GINAUDIFILTER0012M":"$_("Process ID")",
    "GINAUDIFILTER0013M":"$_("Parent Process ID")",
    "GINAUDIFILTER0014M":"$_("Raw")",
    "GINAUDIFILTER0015M":"$_("System Call")",
    "GINAUDIFILTER0016M":"$_("Session ID")",
    "GINAUDIFILTER0017M":"$_("Success Value")",
    "GINAUDIFILTER0018M":"$_("Event End")",
    "GINAUDIFILTER0019M":"$_("Event Start")",
    "GINAUDIFILTER0020M":"$_("Terminal Value")",
    "GINAUDIFILTER0021M":"$_("User ID")",
    "GINAUDIFILTER0022M":"$_("Login User ID")",
    "GINAUDIFILTER0023M":"$_("Guest UUID")",
    "GINAUDIFILTER0024M":"$_("Guest Name")",
    "GINAUDIFILTER0025M":"$_("Word")",
    "GINAUDIFILTER0026M":"$_("Executable")",
    "GINAUDIFILTER0027M":"$_("Audit Log filter must be unique")",
    "GINAUDIFILTER0028M":"$_("Please enter filter field value")",
    "GINAUDIFILTER0029M":"$_("Audit Report filter must be unique")",
    "GINAUDIREPORT0001M":"$_("Authentication Attempts")",
    "GINAUDIREPORT0002M":"$_("AVC Messages")",
    "GINAUDIREPORT0003M":"$_("Commands Run")",
    "GINAUDIREPORT0004M":"$_("Config Change Report")",
    "GINAUDIREPORT0005M":"$_("Crypto Report")",
    "GINAUDIREPORT0006M":"$_("Event Report")",
    "GINAUDIREPORT0007M":"$_("File Report")",
    "GINAUDIREPORT0008M":"$_("Host Report")",
    "GINAUDIREPORT0009M":"$_("Integrity Report")",
    "GINAUDIREPORT0010M":"$_("Key Report")",
    "GINAUDIREPORT0011M":"$_("Login Report")",
    "GINAUDIREPORT0012M":"$_("Account Modification Report")",
    "GINAUDIREPORT0013M":"$_("Mandatory Access Control Report")",
    "GINAUDIREPORT0014M":"$_("Anomaly events Report")",
    "GINAUDIREPORT0015M":"$_("Process ID Report")",
    "GINAUDIREPORT0016M":"$_("Response Anomaly Report")",
    "GINAUDIREPORT0017M":"$_("Syscall Report")",
    "GINAUDIREPORT0018M":"$_("Success Summary Report")",
    "GINAUDIREPORT0019M":"$_("Log Time Range Report")",
    "GINAUDIREPORT0020M":"$_("TTY keystroke Report")",
    "GINAUDIREPORT0021M":"$_("Terminal Report")",
    "GINAUDIREPORT0022M":"$_("User ID Report")",
    "GINAUDIREPORT0023M":"$_("Virtualization Report")",
    "GINAUDIREPORT0024M":"$_("Executable Report")",
    "GINAUDIREPORT0025M":"$_("Failed Summary Report")",
    "GINAUDIREPORT0026M":"$_("No Config")",
    "GINAUDIREPORT0027M":"$_("Event End")",
    "GINAUDIREPORT0028M":"$_("Event Start")",
    "GINAUDIREPORT0029M":"$_("Now")",
    "GINAUDIREPORT0030M":"$_("Recent")",
    "GINAUDIREPORT0031M":"$_("Today")",
    "GINAUDIREPORT0032M":"$_("Yesterday")",
    "GINAUDIREPORT0033M":"$_("This Week")",
    "GINAUDIREPORT0034M":"$_("Week Ago")",
    "GINAUDIREPORT0035M":"$_("This Month")",
    "GINAUDIREPORT0036M":"$_("This Year")",
    "GINAUDITDISP0001M":"$_("Direction")",
    "GINAUDITDISP0002M":"$_("Format")",
    "GINAUDITDISP0003M":"$_("Args")",
    "GINAUDITDISP0004M":"$_("Active")",
    "GINAUDITDISP0005M":"$_("Path")",
    "GINAUDITDISP0006M":"$_("Type")",
    "GINAUDITDISP0007M":"$_("Audit dispatcher Configuration details updated successfully")",
    "GINAUDITDISP0008M":"$_("Audit dispatcher plugin %1 is updated successfully")",
    "GINAUDITDISP0009M":"$_("Please select a plugin to edit")",
    "GINAUDITDISP0010M":"$_("Enable")",
    "GINAUDITDISP0011M":"$_("Disable")",
    "GINAUDITDISP0012M":"$_("Dispatcher")",
    "GINAUDITDISP0013M":"$_("Audit Dispatcher enabled successfully.")",
    "GINAUDITDISP0014M":"$_("Audit Dispatcher disabled successfully.")",
    "GINSERV0001M": "$_("Server Name")",
    "GINSERV0002M": "$_("IP Address")",
    "GINSERV0003M": "$_("Status")",
    "GINSERV0004M": "$_("Power On")",
    "GINSERV0005M": "$_("Power Off")",
    "GINSERV0006M": "$_("Remove")",
    "GINSERV0007M": "$_("Power On Server")",
    "GINSERV0008M": "$_("Power Off Server")",
    "GINSERV0009M": "$_("Either no server or multiple server information selected. Please select one.")",
    "GINSERV0010M": "$_("Failed to retrieve list of Servers")",
    "GINSERV0011M": "$_("Are you sure you want to delete server %1?")",
    "GINSERV0012M": "$_("Are you sure you want to power off server %1?")",
    "GINSERV0013M": "$_("Are you sure you want to power on server %1?")",
    "GINSERV0014M": "$_("Save Server operation failed")",
    "GINSERV0015M": "$_("Update Credentials")",
    "GINSERV0016M": "$_("System Event Logs")",
    "GINSERV0017M": "$_("System Event Log deleted successfully for event id")",
    "GINSERV0018M": "$_("Cannot delete System Event log for id ")",
    "GINSERV0019M": "$_("Sensor Data Records")",
    "GINSERV0020M": "$_("System Temperature Reading")",
    "GINSERV0021M": "$_("FRU Information")"
}
