<!DOCTYPE html>
<html class="no-js" lang=$lang.lang[0]>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>language</title>
</head>
<body>
<script>
i18n["Administration"] = "Administration";
</script>
</body>
</html>
