#*
 * Copyright IBM Corp, 2014-2016
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *#

#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
{
    "Administration": "$_("Administration")",
    "Network": "$_("Network")",
    "Storage": "$_("Storage")",
    "Manual": "$_("Manual")",
    "Automatic(DHCP)": "$_("Automatic(DHCP)")",
    "Automatic": "$_("Automatic")",
    "GINNET0001M": "$_("Name")",
    "GINNET0002M": "$_("Status")",
    "GINNET0003M": "$_("Type")",
    "GINNET0004M": "$_("Address Space")",
    "GINNET0005M": "$_("Mac Address")",
    "GINNET0006M": "$_("Add Bond")",
    "GINNET0007M": "$_("Add VLAN")",
    "GINNET0008M": "$_("Add Adapter")",
    "GINNET0009M": "$_("Up")",
    "GINNET0010M": "$_("Down")",
    "GINNET0011M": "$_("Restart")",
    "GINNET0012M": "$_("Settings")",
    "GINNET0013M": "$_("Delete")",
    "GINNET0014M": "$_("Plugin Ginger s390x not installed. Please install plugin 'Ginger s390x' to avail 'Add Adapter' functionality")",
    "GINNET0015M": "$_("Ok")",
    "GINNET0016M": "$_("Bring up interface")",
    "GINNET0017M": "$_("Bring down interface")",
    "GINNET0018M": "$_("Restart interface")",
    "GINNET0019M": "$_("Delete interface")",
    "GINNET0020M": "$_("successfull")",
    "GINNET0021M": "$_("failed !")",
    "GINNET0022M": "$_("Either no network interface or multiple network interfaces selected. Please select one !!! ")",
    "GINNET0023M": "$_("Deletion of Ethernet interfaces not supported.")",
    "GINNET0024M": "$_("Global DNS and Gateway applied ")",
    "GINNET0025M": "$_("Please wait...")",
    "GINNET0026M": "$_("Create")",
    "GINNET0027M": "$_("Update")",
    "GINNET0028M": "$_("Are you sure you want to delete interface %1?")",
    "GINNET0029M": "$_("Please install plugin 'Ginger s390x' to avail 'Delete' functionality for Ethernet interface.")",
    "GINNET0030M": "$_("Deletion of Ethernet interfaces is not supported.")",
    "GINNET0031M": "$_("Failed to verify 'Ginger s390x' plugin installation. Please try again.")",
    "GINNET0032M": "$_("Are you sure you want to delete interface %1? <br> This may affect network connectivity!")",
    "GINNET0033E": "$_("Failed to retrieve list of interfaces!")",
    "GINNET0034E": "$_("Persistent file is not available for interface %1.")",
    "GINNET0035E": "$_("Failed to retrieve Globl DNS and Gateway!")",
    "GINUM0002E": "The two passwords entered do not match.",
    "GINUM0003E": "not interger.",
    "GINTITLE0001M": "$_("Name")",
    "GINTITLE0002M": "$_("Type")",
    "GINTITLE0003M": "$_("Mount Point")",
    "GINTITLE0004M": "$_("Size")",
    "GINTITLE0005M": "$_("Usage")",
    "GINTITLE0006M": "$_("Capacity")",
    "GINTITLE0007M": "$_("WWPN")",
    "GINTITLE0008M": "$_("WWNN")",
    "GINTITLE0009M": "$_("State")",
    "GINTITLE0010M": "$_("In-Use/Max Ports")",
    "GINTITLE0011M": "$_("Speed")",
    "GINTITLE0012M": "$_("Symbolic Name")",
    "GINTITLE0013M": "$_("Generic")",
    "GINTITLE0014M": "$_("Device")",
    "GINTITLE0015M": "$_("Target")",
    "GINTITLE0016M": "$_("Model")",
    "GINTITLE0018M": "$_("Id")",
    "GINTITLE0019M": "$_("Multipath Links")",
    "GINTITLE0020M": "$_("Add")",
    "GINTITLE0021M": "$_("Refresh")",
    "GINNWS0001M": "$_("Successfully applied setting for interface: ")",
    "GINNWS0002M": "$_("Automatic")",
    "GINNWS0003M": "$_("Manual")",
    "GINNWS0004M": "$_("Address")",
    "GINNWS0005M": "$_("Prefix")",
    "GINNWS0006M": "$_("DNS")",
    "GINNWS0007M": "$_("Netmask")",
    "GINNWS0008M": "$_("Gateway")",
    "GINNWS0009M": "$_("Metric")",
    "GINNWS0010M": "$_("Automatic(DHCP)")",
    "GINNWS0011M": "$_("Mask")",
    "GINNWS0012M":"$_("Default Gateway")",
    "GINDASD0001E": "$_("Failed to format %1. Either format currently going on or device not available for format. Please try after sometime.")",
    "GINSD00001":  "$_("Do you want to remove the selected Storage device(s)?")",
    "GINSD00002":  "$_("Do you want to format the selected ECKD device(s)?")",
    "GINSD00003":  "$_("Do you want to format the selected ECKD device(s)? Non-ECKD device(s) which will be skipped i.e. not be formatted!")",
    "GGBAPI6002M": "$_("Ok")",
    "GGBAPI6003M": "$_("Cancel")",
    "GINSD00003M": "$_("No storage device selected. Please select one !")",
    "GINSD00004M": "$_("Ok")",
    "GINSD00005M": "$_("Mixed selection of ECKD and non-ECKD devices")",
    "GINNWVLANS0001M":"$_("VLAN interface name is missing or provided incorrectly")",
    "GINNWVLANS0002M":"$_("VLANID mandatory in case VLAN interface do not have VLANID in it !")",
    "GINSYS0001M": "$_("None")",
    "GINSYS0002M": "$_("N/A")",
    "GINSYS0003M": "$_("OK")",
    "GINSYS0004M": "$_("Cancel")",
    "GINSYS0005M": "$_("Unload Module")",
    "GINSYS0006M": "$_("This will unload the module %1. Do you want to continue?")",
    "GINSYS0007M": "$_("This module does not have any parameters.")",
    "GINSYS0008M": "$_("Custom Load")",
    "GINSYS0009M": "$_("Parameters")",
    "GINSYS0010M": "$_("In order to enable the selected feature you must fill the parameters below:")",
    "GINSYS0011M": "$_("Parameters must be set with an equals sign (=) and separated by a whitespace ( ). <br /> Example: param1=value param2=value")",
    "GINSYS0012M": "$_("Module %1 was successfully loaded")",
    "GINSYS0013M": "$_("Module %1 was successfully unloaded")",
    "GINSYS0014M": "$_("Signature Key")",
    "GINSYS0015M": "$_("Description")",
    "GINSYS0016M": "$_("License")",
    "GINSYS0017M": "$_("Vermagic")",
    "GINSYS0018M": "$_("Intree")",
    "GINSYS0019M": "$_("File name")",
    "GINSYS0020M": "$_("SRC Version")",
    "GINSYS0021M": "$_("Authors")",
    "GINSYS0022M": "$_("Signer")",
    "GINSYS0023M": "$_("Signer Hash Algorithm")",
    "GINSYS0024M": "$_("Aliases")",
    "GINSYS0025M": "$_("Parameters")",
    "GINSYS0026M": "$_("Features")",

    "GINNWBONDS0001M":"$_("BOND interface name is missing or invalid")"
}
