#unicode UTF-8
#import gettext
#from kimchi.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext

<!DOCTYPE html>
<html class="no-js" lang=$lang.lang[0]>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>language</title>
</head>
<body>
<script>
var i18n = {
    'Administration': "$_("Administration")"};
</script>
</body>
</html>
