#*
 * Copyright IBM Corp, 2015
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *#

#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
{
    "Administration": "$_("Administration")",
    "Network": "$_("Network")",
    "Storage": "$_("Storage")",
    "Manual": "$_("Manual")",
    "Automatic(DHCP)": "$_("Automatic(DHCP)")",
    "Automatic": "$_("Automatic")",
    "GINNET0001M": "$_("Name")",
    "GINNET0002M": "$_("Status")",
    "GINNET0003M": "$_("Type")",
    "GINNET0004M": "$_("Address Space")",
    "GINNET0005M": "$_("Mac Address")",
    "GINNET0006M": "$_("Add Bond")",
    "GINNET0007M": "$_("Add VLAN")",
    "GINNET0008M": "$_("Add Adapter")",
    "GINNET0009M": "$_("Up")",
    "GINNET0010M": "$_("Down")",
    "GINNET0011M": "$_("Restart")",
    "GINNET0012M": "$_("Settings")",
    "GINNET0013M": "$_("Delete")",
    "GINNET0014M": "$_("Plugin Ginger s390x not installed. Please install plugin 'Ginger s390x' to avail 'Add Adapter' functionality")",
    "GINNET0015M": "$_("OK")",
    "GINNET0016M": "$_("Bring up interface")",
    "GINNET0017M": "$_("Bring down interface")",
    "GINNET0018M": "$_("Restart interface")",
    "GINNET0019M": "$_("Delete interface")",
    "GINNET0020M": "$_("successfull")",
    "GINNET0021M": "$_("failed !")",
    "GINNET0022M": "$_("Either no network interface or multiple network interfaces selected. Please select one !!! ")",
    "GINNET0023M": "$_("Deletion of Ethernet interfaces not supported.")",
    "GINNET0025M": "$_("Please wait untill the action complete...")",
    "GINNET0026M": "$_("Create")",
    "GINNET0027M": "$_("Update")",
    "GINUM0002E": "The two passwords entered do not match.",
    "GINUM0003E": "not interger.",
    "GINTITLE0001M": "$_("Name")",
    "GINTITLE0002M": "$_("Type")",
    "GINTITLE0003M": "$_("Mount Point")",
    "GINTITLE0004M": "$_("Size")",
    "GINTITLE0005M": "$_("Usage")",
    "GINTITLE0006M": "$_("Capacity")",
    "GINTITLE0007M": "$_("WWPN")",
    "GINTITLE0008M": "$_("WWNN")",
    "GINTITLE0009M": "$_("State")",
    "GINTITLE0010M": "$_("In-Use/Max Ports")",
    "GINTITLE0011M": "$_("Speed")",
    "GINTITLE0012M": "$_("Symbolic Name")",
    "GINTITLE0013M": "$_("Generic")",
    "GINTITLE0014M": "$_("Device")",
    "GINTITLE0015M": "$_("Target")",
    "GINTITLE0016M": "$_("Model")",
    "GINTITLE0018M": "$_("ID")",
    "GINTITLE0019M": "$_("Multipath Count")",
    "GINTITLE0020M": "$_("Add")",
    "GINNWS0001M": "$_("Successfully applied setting for interface: ")",
    "GINNWS0002M": "$_("Automatic")",
    "GINNWS0003M": "$_("Manual")",
    "GINNWS0004M": "$_("Address")",
    "GINNWS0005M": "$_("Prefix")",
    "GINNWS0006M": "$_("DNS")",
    "GINNWS0007M": "$_("Netmask")",
    "GINNWS0008M": "$_("Gateway")",
    "GINNWS0009M": "$_("Metric")",
    "GINNWS0010M": "$_("Automatic(DHCP)")",
    "GINNWS0011M": "$_("Mask")",
    "GINNWS0012M":"$_("Default Gateway")"
}
