*.pyc
*~
.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
config.log
config.status
configure
contrib/DEBIAN/control
contrib/make-deb.sh
contrib/ginger.spec.fedora
contrib/ginger.spec.suse
model/config.py
data/
ginger-*.tar.gz
ginger.spec
mo/
po/POTFILES
po/gen-pot
po/stamp-po
po/*.gmo
tests/run_tests.sh
rpm
ui/pages/help/*/*.html
