*.pyc
*~
.*.swp
ChangeLog
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
config.log
config.status
configure
ginger-*.tar.gz
ginger.spec
mo/
po/POTFILES
po/en_US.gmo
po/gen-pot
po/pt_BR.gmo
po/stamp-po
po/zh_CN.gmo
rpm
contrib/make-deb.sh
contrib/DEBIAN/control
