    /*
 * Copyright IBM Corp, 2015-2016
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */

// Core variables
@import "../../../../../../../ui/css/src/modules/wok-variables";
// Core functions
@import "../../../../../../../ui/css/src/modules/compact";
// Compass Mixins
@import "../../../../../../../ui/css/src/vendor/compass-mixins/lib/compass";
// Wok Accordion Mixin
@import "../../../../../../../ui/css/src/modules/wok-accordion";
.ui-tooltip {
    width: "";
    display: inline-block;
    max-width: 100%;
}

.ginger-dialog .ui-tooltip-content {
    width: 600px;
    padding: 10px 0 20px 20px;
    overflow: hidden;
}

.ginger-dialog .ui-tooltip-content .header {
    font-weight: bold;
}

.ginger-dialog .ui-tooltip-content .sub-content {
    padding: 10px;
    margin-bottom: 10px;
}

.ginger-dialog .ui-tooltip-content .sub-content .path-item {
    padding-bottom: 10px;
}

.ginger .host-admin .nw-config {
    min-height: 170px;
    padding-bottom: 30px;
}

.ginger .host-admin .nw-config .pane {
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-bottom: 5px;
}

.ginger .host-admin .nw-config .pane .sec-label {
    margin-bottom: 3px;
    text-decoration: underline;
}

.ginger .host-admin .nw-config .pane .sec-content {
    padding: 10px 10px 0px 10px;
}

.ginger .host-admin .nw-config .pane .vertical-separator {
    margin-bottom: 20px;
}

.ginger .host-admin .nw-config .interface {
    width: 60%;
}

.ginger .host-admin .nw-config .interface .sec-content {
    padding-right: 40px;
}

.ginger .host-admin .nw-config .interface .cell {
    display: inline-block;
    padding-right: 0px;
    vertical-align: middle;
}

.ginger .host-admin .nw-config .interface .name {
    width: 150px;
}

.ginger .host-admin .nw-config .interface .ip {
    width: 140px;
}

.ginger .host-admin .nw-config .interface .mask {
    width: 140px;
}

.ginger .host-admin .nw-config .interface .grid-body {
    font-weight: normal;
}

.ginger .host-admin .nw-config .interface .grid-body input {
    width: 120px;
}

.ginger .host-admin .nw-config .interface .item {
    margin-bottom: 5px;
    overflow: hidden;
}

.ginger .host-admin .nw-config .interface .action-area {
    float: right;
    padding-right: 5px;
}

.ginger .host-admin .nw-config .global {
    width: 30%;
    margin-left: 30px;
}

.ginger .host-admin .nw-config .global input {
    width: 200px;
    margin-right: 5px;
    vertical-align: middle;
}

.ginger .host-admin .nw-config .global .addBtn {
    float: right;
    margin-right: 40px;
    border-radius: 10px;
}

.ginger .host-admin .nw-config button {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.ginger .hide {
    display: none;
}

.ginger {
    div.modal-footer {
        background-color: #008abf;
    }
    .modal-body .nav-tabs > li.active > a,
    .modal-body .nav-tabs > li.active > a:hover,
    .modal-body .nav-tabs > li.active > a:focus {
        border-color: -moz-use-text-color -moz-use-text-color #008abf;
    }
}

@import "modules/administration";
@import "modules/network";
@import "modules/storage";
@import "modules/sysmodules";
@import "modules/ovsbridges";
@import "modules/systemservices";
@import "modules/treeview";