<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>
<head>
<link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
<script type="text/javascript" src="plugins/ginger/js/util.js"></script>
<script type="text/javascript" src="plugins/ginger/js/host-storage.js"></script>
<script type="text/javascript" src="plugins/ginger/js/host-storage-partition.js"></script>
<script type="text/javascript" src="plugins/ginger/js/host-storage-iscsi.js"></script>
<script type="text/javascript" src="plugins/ginger/js/ginger-bootgrid.js"></script>
#for $script in $data.scripts
<script type="text/javascript" src="$script"></script>
#end for
</head>
<body>
  <div id="host-storage-root-container" class="ginger">
    <div class="container">
        <div id="gingerHostAdmin" class="host-admin">
          <!-- Volume Group Panel -->
          <div class="panel-group accordion" id="volume-group-accordion" role="tablist" aria-multiselectable="true">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#volume-group-accordion" href="#volume-groups-content-area" aria-expanded="false" aria-controls="volume-groups-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("Volume Group")</span>
                  </a>
              </h3>
              <div id="volume-groups-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class='clearfix'>
                    <div class="row">
                     <div class="col-sd-12"><span>&nbsp;</span></div>
                     <span id='alert-vg-container' style='display: none;padding-top:20px; '></span>
                    </div>
                    <div class="row" id="volume-groups">
                      <table id="volume-group-table" class="table table-stripped" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>$_("Name")</th>
                            <th>$_("Capacity")</th>
                            <th>$_("Details")</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                </div>
                <div class="wok-mask vg-loader">
                  <div class="wok-mask-loader-container">
                    <div class="wok-mask-loading">
                      <div class="wok-mask-loading-icon"></div>
                      <div class="wok-mask-loading-text">$_("Loading...")</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- File Systems Panel -->
          <div class="panel-group accordion" id="file-systems-accordion" role="tablist" aria-multiselectable="true">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#file-systems-accordion" href="#file-systems-content-area" aria-expanded="false" aria-controls="file-systems-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("File Systems")</span>
                  </a>
              </h3>
              <div id="file-systems-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class='clearfix'>
                    <div class="row">
                      <div id="file-systems-alert-container"></div>
                      <div id="file-systems-unmount" class="pull-left">
                        <div class="btn-group"><button class="btn btn-primary" id="file-systems-unmount-btn" aria-expanded="false"><i class="fa fa-eject">&nbsp;</i>$_("Unmount")</button></div>
                      </div>
                      <div id="file-systems-refresh" class="pull-right">
                       <div class="btn-group"><button class="btn btn-primary" id="file-systems-refresh-btn" aria-expanded="false"><i class="fa fa-refresh"></i>$_("Refresh")</button></div>
                       <span class="btn-group"><button class="btn btn-primary" id="file-systems-mount-btn" aria-expanded="false"><i class="fa fa-hdd-o">&nbsp;</i>$_("Mount")</button></span>
                      </div>
                    <div class="row col-md-12" id="file-systems" style="padding-left:20px;">
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- Swap Devices Panel -->
          <div class="panel-group accordion" id="swap-devices-accordion" role="tablist" aria-multiselectable="true">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#swap-devices-accordion" href="#swap-devices-content-area" aria-expanded="false" aria-controls="swap-devices-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("Swap Devices")</span>
                  </a>
              </h3>
              <div id="swap-devices-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class='clearfix'>
                   <span id="swap-message" style="display:none;"></span>
                    <div class="row">
                      <div id="swap-devices-alert-container"></div>
                      <div class="btn-group">
                          <button class="btn btn-primary actBtn add-user" id="delete-swap-device-btn" type="submit" disabled  ><i class="fa fa-minus-circle"></i> $_("Delete")</button>
                      </div>
                      <div id="swap-devices-refresh" class="pull-right">
                      <button class="btn btn-primary " id="add-swap-device-btn" type="submit" ><i class="fa fa-plus-circle"></i> $_("Add")</button>
                      <button class="btn btn-primary" id="swap-devices-refresh-btn" aria-expanded="false"><i class="fa fa-refresh"></i>$_("Refresh")</button></div>
                    </div>
                    <div class="row col-md-12" id="swap-devices" style="padding-left:20px;"></div>
                  </div>
              </div>
            </div>
          <!-- Storage device Panel -->
          <div class="panel-group accordion" id="storage-devices-accordion" role="tablist" aria-multiselectable="true">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#storage-devices-accordion" href="#storage-device-content-area" aria-expanded="false" aria-controls="storage-device-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("Storage Devices")</span>
                  </a>
              </h3>
              <div id="storage-device-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class='clearfix'>
                    <div class="row"  style="padding-left:50px;">
                        <div id="file-systems-actions" class="pull-left">
                        </div>
                        <div id="storage-devices-alert-container"></div>
                        <span class="pull-right">
                        <span id="file-system-refresh">
                        <div class="btn-group"><button class="btn btn-primary" id="storage-device-refresh-btn" aria-expanded="false"><i class="fa fa-refresh"></i>$_("Refresh")</button></div></span>
                        <span id="file-systems-add">
                        </span>
                        </span>
                    </div>
                       <span id='alert-modal-nw-container' style='display: none;'></span>
                     <div class="row col-md-12" id="stg-devs"  style="padding-left:20px;">
                    </div>
                  </div>
              </div>
            </div>
          <!-- FCP tape device Panel -->
          <div id="fcp-tape-devices-panel" class="panel-group hidden accordion" role="tablist" aria-multiselectable="true">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#fcp-tape-devices-panel" href="#fcp-tape-devices-content-area" aria-expanded="false" aria-controls="fcp-tape-devices-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("FCP Tape Devices")</span>
                  </a>
              </h3>
              <div id="fcp-tape-devices-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class='clearfix'>
                  <div class="row">
                      <div id="fcp-tape-devices-alert-container"></div>
                      <div id="fcp-tape-devices-refresh" class="pull-right">
                      <div class="btn-group"><button class="btn btn-primary" id="refresh-fcp-tape-devices-btn" aria-expanded="false"><i class="fa fa-refresh"></i>$_("Refresh")</button></div></div>
                  </div>
                  <div class="row col-md-12" id="fcp-tape-devices" style="padding-left:20px;"></div>
                </div>
              </div>
            </div>
          <!-- SAN adapter Panel -->
          <div class="panel-group accordion" id="SAN-adapter-panel" role="tablist" aria-multiselectable="true">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#SAN-adapter-panel" href="#san-adapter-content-area" aria-expanded="false" aria-controls="san-adapter-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("SAN Adapters")</span>
                  </a>
              </h3>
              <div id="san-adapter-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class='clearfix'>
                  <div class="row">
                    <div class="col-sd-12"><span>&nbsp;</span></div>
                  </div>
                  <div class="row" id="san-adapter-list">
                    <table id="adapters-table" class="table table-striped" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                            <th>$_("Name")</th>
                            <th>$_("WWPN")</th>
                            <th>$_("WWNN")</th>
                            <th>$_("State")</th>
                            <th>$_("In-Use/Max Ports")</th>
                            <th>$_("Speed")</th>
                            <th>$_("Symbolic Name")</th>
                            <th>$_("Port Type")</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
                <div class="wok-mask sa-loading">
                  <div class="wok-mask-loader-container">
                    <div class="wok-mask-loading">
                      <div class="wok-mask-loading-icon"></div>
                      <div class="wok-mask-loading-text">$_("Loading...")</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- iSCSI Panel -->
            <div class="panel-group accordion" id="iSCSI-accordion" role="tablist" aria-multiselectable="true">
                <h3>
                    <a role="button" data-toggle="collapse" data-parent="#iSCSI-accordion" href="#iSCSI-content-area" aria-expanded="false" aria-controls="iSCSI-content-area" class="">
                        <span class="accordion-icon"></span><span class="accordion-text">$_("iSCSI")</span>
                    </a>
                </h3>
                <div id="iSCSI-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class='clearfix'>
                      <div class="row">
                       <div class="col-sd-12"><span id="iSCSI-alert-container">&nbsp;</span></div>
                      </div>
                      <div class="row" id="iSCSI">
                        <table id="iSCSI-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>$_("iSCSI Qualifier Name (IQN)")</th>
                              <th>$_("Status")</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                  </div>
                  <div class="wok-mask iSCSI-loader">
                    <div class="wok-mask-loader-container">
                      <div class="wok-mask-loading">
                        <div class="wok-mask-loading-icon"></div>
                        <div class="wok-mask-loading-text">$_("Loading...")</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- end of iSCSI -->
        </div>
    </div>
    <div id="modalWindow" class="modal fade host-modal guests-modal" tabindex="-1" role="dialog" aria-labelledby="guestsModalLabel" aria-hidden="true">
    </div>
    <div class="modal" id="storage-AddFCP-modal"> <!-- This div is required for multiple popups handling -->
      <div class="modal-dialog"  style="width:1068px;">
      <div class="modal-content">$_("Loading...")</div>
      </div>
    </div>
  </div>
<script id="storage-DASDdevice-details-tmpl" type="html/text">
    <div style="" class="well row col-md-12">
        <div class="partition-detail-info">
            <div class="row bkp-paths-header">
                <div class="column-id">ID</div>
                <div class="column-bus-id">Bus ID</div>
            </div>
            <div class="row bkp-paths-body">
                <div class="column-id">{id}</div>
                <div class="column-bus-id">{bus_id}</div>
            </div>
            <div class="row bkp-paths-header">
                <div class="column-partition-details" style="visibility: hidden;"><span class="h2">Partition Details</h2></div>
            </div>
        </div>
        <div aria-expanded="true" id="partition-detail-container" class="panel-collapse collapse in" style="visibility: hidden;" role="tabpanel" aria-labelledby="headingOne">
            <span id="alert-partition-details"></span>
            <div class="wok-datagrid">
                <div class="wok-datagrid-header">
                    <span class="column-path">Path</span>
                    <span class="column-type">Type</span>
                    <span class="column-vgname">VG Name</span>
                    <span class="column-mount-point">Mount Point</span>
                    <span class="column-size">Size (MB)</span>
                    <span class="column-action">Actions</span>
                </div>
                <ul id="partition-detail-list" class="wok-datagrid-body"> </ul>
            </div>
        </div>
        <div class="wok-list-loader-container wok-list-loading" id="partition-loading" style="display: nonew; z-index: 1;">
            <div class="wok-list-loading-icon"></div>
            <div class="wok-list-loading-text">Loading...</div>
        </div>
    </div>
</script>
<script id="storage-device-details-tmpl" type="html/text">
    <div style="" class="well row col-md-12">
        <div class="partition-detail-info">
            <div class="row bkp-paths-header">
                <div class="column-id">ID</div>
                <div class="column-fcplun">FCP Lun</div>
                <div class="column-wwpn">WWPN</div>
                <div class="column-hbaid">HBA ID</div>
            </div>
            <div class="row bkp-paths-body">
                <div class="column-id">{id}</div>
                <div class="column-fcplun">{fcp_lun}</div>
                <div class="column-wwpn">{wwpn}</div>
                <div class="column-hbaid">{hba_id}</div>
            </div>
            <div class="row bkp-paths-header">
                <div class="column-partition-details" style="visibility: hidden;"><span class="h2">Partition Details</h2></div>
            </div>
        </div>
        <div aria-expanded="true" id="partition-detail-container" class="panel-collapse collapse in" style="visibility: hidden;" role="tabpanel" aria-labelledby="headingOne">
            <span id="alert-partition-details"></span>
            <div class="wok-datagrid">
                <div class="wok-datagrid-header">
                    <span class="column-path">Path</span>
                    <span class="column-type">Type</span>
                    <span class="column-vgname">VG Name</span>
                    <span class="column-mount-point">Mount Point</span>
                    <span class="column-size">Size</span>
                    <span class="column-action">Actions</span>
                </div>
                <ul id="partition-detail-list" class="wok-datagrid-body"> </ul>
            </div>
        </div>
        <div class="wok-list-loader-container wok-list-loading" id="partition-loading" style="display: none; z-index: 1;">
            <div class="wok-list-loading-icon"></div>
            <div class="wok-list-loading-text">Loading...</div>
        </div>
    </div>
</script>
<script id="storage-partition-data-tmpl" type="html/text">
    <li class="wok-datagrid-row" id="{name}">
        <span class="column-path" data-type="name">{path}</span>
        <span class="column-type" data-type="group">{fstype}</span>
        <span class="column-vgname" data-type="profile">{vgname}</span>
        <span class="column-mount-point">{mountpoint}</span>
        <span class="column-size">{size}</span>
        <span class="column-action">
        <span class="pull-left">
                        <div class="dropdown menu-flat storage-action">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span class="edit-alt"></span>Actions<span class="caret"></span></button>
        <ul class="dropdown-menu actionsheet">
            <li role="presentation">
                <a class="pool-activate partition-delete"><i class="fa fa-minus-circle"></i>Delete Partition</a>
            </li>
            <li role="presentation">
                <a class="pool-add-volume partition-format"><i class="fa fa fa-pencil-square-o"></i>Format FS</a>
            </li>
            <li role="presentation">
                <a class="pool-deactivate partition-add-vg"><i class="fa fa-plus-circle"></i>Add to VG</a>
            </li>
            <li role="presentation">
                <a class="pool-activate partition-delete-vg"><i class="fa fa-times"></i>Remove from VG</a>
            </li>
        </ul>
        </div>
        </span>
        </span>
    </li>
</script>
<script id="storage-partition-nodata-tmpl" type="html/text">
    <li class="wok-datagrid-row" id="{DeviceName}">
        <span class="column-nodata">No partition available</span>
    </li>
</script>
<script>
    ginger.initStorage();
</script>
</body>
</html>
