<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>
<head>
    <link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
    <script type="text/javascript" src="plugins/ginger/js/util.js"></script>
    <script type="text/javascript" src="plugins/ginger/js/host-admin.js"></script>
</head>
<body>
    <div id="administration-root-container" class="ginger">
        <nav class="navbar navbar-default toolbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toolbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="toolbar">
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="gingerHostAdmin" class="host-admin">
            <!-- Firmware Update Panel -->
            <div class="panel-group firmware-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
                <h3>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#firmware-update-content-area" aria-expanded="false" aria-controls="firmware-update-content-area" class="">
                        <span class="accordion-icon"></span><span class="accordion-text">$_("Firmware Update")</span>
                    </a>
                </h3>
                <div id="firmware-update-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class='fmw-content col-md-4'>
                        <div class="message-area" id="gingerFWUpdateMess" style="display: none;">
                            <span class="progress-icon"></span>
                            <span>$_("Firmware update is initializing. System will reboot in order to flash the firmware.")</span>
                        </div>
                        <div class='fmw-label'>$_("Version")</div>
                        <div class="firmware-ver fmw-item" id="gingerFWVer">fmw-version</div>
                        <div class="form-group fmw-form">
                            <label for="gingerPackPath" class="pack-path-label fmw-label">$_("Packaging Path ")</label>
                            <input type="text" class="form-control" id="gingerPackPath" placeholder="$_('Absolute path to firmware RPM')">
                        </div>
                        <button class="btn btn-primary" type="submit" id="gingerPackPathSub" disabled="true" style="width:20%">$_("Update")</button>
                    </div>
                </div>
                <hr>
            </div>
        <!-- Configuration Backup Panel -->
        <div class="panel-group backup-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
         <h3>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#backup-ppc-content-area" aria-expanded="false" aria-controls="backup-ppc-content-area" class="">
                <span class="accordion-icon"></span><span class="accordion-text">$_("Configuration Backup")</span>
            </a>
        </h3>
        <ul id="backup-ppc-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <li class="backup-pcc-actions" id="backup-pcc-action-area">
                <span>
                    <div class="dropdown menu-flat ">
                        <button class="btn btn-primary dropdown-toggle backup-pcc-button" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span class="edit-alt"></span>$_("Actions")<span class="caret"></span></button>
                        <ul class="dropdown-menu actionsheet">
                            <li role="presentation">
                                <a href="#" id="newDefaultBakBtn"><i class="fa fa-file"></i>$_("Generate Default Backup")</a>
                            </li>
                            <li role="presentation">
                                <a href="#" id="newCustomBakBtn" data-toggle="modal" data-target="#newBakDialog"><i class="fa fa-file"></i>$_("New Custom Backup")</a>
                            </li>
                            <li role="presentation">
                                <a href="#" id="batDelBtn" data-toggle="modal" data-target="#batDelDialog"><i class="fa fa-minus-circle"></i>$_("Batch Delete")</a>
                            </li>
                        </ul>
                    </div>
                </span>
            </li>
            <li class="header">
                    <span class="column-file">$_("File")</span><!--
                    --><span class="column-timestamp">$_("Timestamp")</span><!--
                    --><span class="column-paths">$_("Paths")</span><!--
                --><span class="column-download" style="display:none">
                        <span class="sr-only">Download</span><!--
                    --></span><!--
                --><span class="column-delete" style="display:none">
                        <span class="sr-only">Delete</span><!--
                    --></span>
            </li>
            <li>
                <ul class="ul-body" id="bakGridBody"></ul>
            </li>
         </ul>
         <hr>
        </div>
        <!-- Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#network-ppc-content-area" aria-expanded="false" aria-controls="network-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("Network Configuration")</span>
                </a>
            </h3>
            <div id="network-ppc-content-area" class="panel-collapse collapse col-md-12" role="tabpanel" aria-labelledby="headingOne">
                <div class="col-md-8" style="padding-left: 40px;">
                    <div class="header">
                        <span class="column-name">$_("Interface Name")</span><!--
                        --><span class="column-ip-address">$_("IP Address")</span><!--
                        --><span class="column-ip-mask">$_("Mask IP Address")</span><!--
                        --><span class="column-actions" style="display:none">
                            <span class="sr-only">Actions</span><!--
                        --></span>
                    </div>
                    <div class="body" id="gingerInterface"></div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6">
                        <div class="header">
                            <span>$_("DNS IP Address")</span>
                        </div>
                        <button class="btn btn-primary addBtn" id="gingerDnsAdd" type="submit"><i class="fa fa-plus-circle"></i> $_("Add")</button>
                        <div class="body" id="gingerDNS"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="header">
                            <span>$_("Gateway IP Address")</span>
                        </div>
                        <div class="body" id="gingerGateway"></div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <!-- Power Options Panel -->
        <div class="panel-group powerprofiles-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#gingerPowerMgmt" aria-expanded="false" aria-controls="gingerPowerMgmt" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("Power Options")</span>
                </a>
            </h3>
            <div id="gingerPowerMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="pw-opt col-md-4">
                    <div class="header">
                        <button class="btn btn-primary actBtn" type="submit" disabled="true">$_("Activate")</button>
                        <span id="progressIndicator"></span>
                    </div>
                    <div class="body"></div>
                </div>
            </div>
            <hr>
        </div>
        <!-- SAN Adapters Panel -->
        <div class="panel-group sanadapters-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#sanadapters-ppc-content-area" aria-expanded="false" aria-controls="sanadapters-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("SAN Adapters")</span>
                </a>
            </h3>
            <ul id="sanadapters-ppc-content-area" class="panel-collapse collapse san-adapter" role="tabpanel" aria-labelledby="headingOne">
                <li class='header'>
                    <span class="name">$_("Name")</span><!--
                    --><span class="wwpn">$_("WWPN")</span><!--
                    --><span class="wwnn">$_("WWNN")</span><!--
                    --><span class="state">$_("State")</span><!--
                    --><span class="port">$_("In-Use/Max Ports")</span><!--
                    --><span class="speed">$_("Speed")</span><!--
                    --><span class="symbolic">$_("Symbolic Name")</span>
                </li>
                <li class='body'>
                    <span class="name"></span><!--
                    --><span class="wwpn"></span><!--
                    --><span class="wwnn"></span><!--
                    --><span class="state"></span><!--
                    --><span class="port"></span><!--
                    --><span class="speed"></span><!--
                    --><span class="symbolic"></span>
                </li>
            </ul>
            <hr>
        </div>
        <!-- Sensor Monitor Panel -->
        <div class="panel-group sensors-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#sensors-ppc-content-area" aria-expanded="false" aria-controls="sensors-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("Sensor Monitor")</span>
                </a>
            </h3>
            <div id="sensors-ppc-content-area" class="panel-collapse collapse sensor-panel" role="tabpanel" aria-labelledby="headingOne">
                <div class="progress-icon-sensor"></div>
            </div>
            <hr>
        </div>
        <!-- SEP Configuration Panel -->
        <div class="panel-group sep-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#sep-ppc-content-area" aria-expanded="false" aria-controls="sep-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("SEP Configuration")</span>
                </a>
            </h3>
            <ul id="sep-ppc-content-area" class="panel-collapse collapse subsc-manage" role="tabpanel" aria-labelledby="headingOne">
                <li class="header" style="margin-bottom:20px">
                    <span class="sep-label">$_("Status")</span><!--
                    --><i class="fa fa-circle"></i><!--
                    --><i class="fa fa-times-circle"></i><!--
                    --><span id="sepStatusLog" style="font-weight: bold;"></span><!--
                    --><button class="btn btn-primary" type="submit" id="sepStart">$_("Start")</button><!--
                    --><button class="btn btn-primary" type="submit" id="sepStop">$_("Stop")</button><!--
                    --><button class="btn btn-primary add-subscription" type="submit" data-toggle="modal" data-target="#subscriptionAdd">$_("Subscribe")</button>
                </li>
                <li class='header'>
                    <span class="column-hostname">$_("Hostname")</span><!--
                    --><span class="column-port">$_("Port")</span><!--
                    --><span class="column-community">$_("Community")</span><!--
                    --><span class="column-detach" style="display:none">
                        <span class="sr-only">Detach</span><!--
                    --></span>
                </li>
            </ul>
            <hr>
        </div>
        <!-- User Management Panel -->
        <div class="panel-group users-ppc-enabled" id="accordion" role="tablist" aria-multiselectable="true">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#users-ppc-content-area" aria-expanded="false" aria-controls="users-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("User Management")</span>
                </a>
            </h3>
            <ul id="users-ppc-content-area" class="panel-collapse collapse user-manage" role="tabpanel" aria-labelledby="headingOne">
                <li class="header">
                    <button class="btn btn-primary actBtn add-user" type="submit" data-toggle="modal" data-target="#hostUserAdd"><i class="fa fa-plus-circle"></i> $_("Add User")</button>
                </li>
                <li class="header">
                    <span class="column-username">$_("Name")</span><!--
                    --><span class="column-usergroup">$_("Group")</span><!--
                    --><span class="column-userprofile">$_("Profile")</span><!--
                    --><span class="column-detach" style="display:none">
                        <span class="sr-only">Detach</span><!--
                    --></span>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>

<!-- Configuration Backup Modal - Create Custom Backup -->
<div class="modal fade host-modal" id="newBakDialog" tabindex="-1" role="dialog" labelledby="newBakLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">$_("Create a backup")</h4>
            </div>
            <div class="modal-body">
                <form id="form-backup-add">
                    <div class="form-group">
                        <label for="description-textbox">$_("Description")</label>
                        <input type="text" class="form-control input" id="description-textbox" name="description" />
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" >
                            <label class="col-md-12">$_("Paths Included")</label>
                            <span class='add-path-to-include'><a  class="add btn btn-link" href="#"><i class="fa fa-plus-circle"></i> $_("Add a Path")</a></span>
                            <div id="includeBox"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12">$_("Paths Excluded")</label>
                            <span class='add-path-to-exclude'><a  class="add btn btn-link" href="#"><i class="fa fa-plus-circle"></i> $_("Add a Path")</a></span>
                            <div id="excludeBox"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="newBakFormBtn" class="btn btn-default" data-dismiss="modal" disabled>$_("Generate Backup")</button>
                <button type="button" id="newBakFormCancelBtn" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
            </div>
        </div>
    </div>
</div>


<!-- Configuration Backup Modal - Batch Delete -->
<div class="modal fade host-modal" id="batDelDialog" tabindex="-1" role="dialog" labelledby="batDelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Delete Backups in Batch")</h4>
          </div>
          <div class="modal-body">
            <form id="form-bat-delete">
                <div class="form-group">
                    <div id="radio-buttons">
                        <label class="radio-inline">
                            <input type="radio" name="batDelType" class="wok-radio" id="kimchiuser" value="counts_ago" checked/>
                            <label for="kimchiuser">$_("Preserve the latest")</label>
                            <input type="text" class="form-control" style="display: inherit;width: auto;"> $_("backups")
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="radio-buttons">
                        <label class="radio-inline">
                            <input type="radio" name="batDelType" class="wok-radio" id="kimchiuser" value="days_ago"/>
                            <label for="kimchiuser">$_("Preserve the latest")</label>
                            <input type="text" class="form-control" style="display: inherit;width: auto;" disabled> $_("days of backups")
                        </label>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="batdel-submit" class="btn btn-default" data-dismiss="modal" disabled>$_("Submit")</button>
            <button type="button" id="batdel-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

<!-- SEP Configuration Modal - Add Subscription -->
<div class="modal fade host-modal" id="subscriptionAdd" tabindex="-1" role="dialog" labelledby="hostsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Add Subscription")</h4>
          </div>
          <div class="modal-body">
            <form id="form-subscription-add">
                <div class="form-group">
                    <label for="hostname-textbox">$_("Hostname")</label>
                    <input type="text" class="form-control input" id="hostname-textbox" name="hostname" />
                </div>
                <div class="form-group">
                    <label for="port-textbox">$_("Port")</label>
                    <input type="text" class="form-control input" id="port-textbox" name="port" />
                </div>
                <div class="form-group">
                    <label for="community-textbox">$_("Community")</label>
                    <input type="text" class="form-control input" id="community-textbox" name="community" />
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="subsc-submit" class="btn btn-default" data-dismiss="modal" disabled>$_("Submit")</button>
            <button type="button" id="subsc-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

<!-- User Management Modal - Add User -->
<div class="modal fade host-modal" id="hostUserAdd" tabindex="-1" role="dialog" labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Add User")</h4>
          </div>
          <div class="modal-body">
            <form id="form-user-add">
                <div class="form-group">
                    <label for="username-textbox">$_("User Name")</label>
                    <input type="text" class="form-control inputbox" id="username-textbox" name="userName" />
                </div>
                <div class="form-group">
                    <label for="password-textbox">$_("Password")</label>
                    <input type="password" class="form-control inputbox" id="password-textbox" name="userPasswd" />
                </div>
                <div class="form-group">
                    <label for="confirm-password-textbox">$_("Confirm Password")</label>
                    <input type="password" class="form-control inputbox" id="confirm-password-textbox" name="userConfirmPasswd" />
                </div>
                <div class="form-group">
                    <label for="usergroup-textbox">$_("Group")</label>
                    <input type="text" class="form-control inputbox" id="usergroup-textbox" name="userGroup" disabled />
                    <div class="checkbox">
                          <input type="checkbox" class="enable-combobox wok-checkbox" id="enableEditGroup" />
                          <label for="enableEditGroup">$_("Use Other")</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>$_("Profile")</label>
                    <div id="radio-buttons">
                        <label class="radio-inline">
                            <input type="radio" name="userProfile" class="wok-radio" id="kimchiuser" value="kimchiuser"/>
                            <label for="kimchiuser">$_("Kimchi User")</label>
                        </label>
                        <label class="radio-inline">
                             <input type="radio" name="userProfile" class="wok-radio" id="virtuser" value="virtuser"/>
                            <label for="virtuser">$_("Virt User")</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="userProfile" class="wok-radio" id="admin" value="admin" />
                            <label for="admin">$_("Administrator")</label>
                        </label>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="user-submit" class="btn btn-default" data-dismiss="modal" disabled>$_("Submit")</button>
            <button type="button" id="user-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

</div>
<script id="backupItem" type="text/html">
    <li class="body in" name="backupBodyItem" id="{identity}">
        <span class="column-file">{file}</span><!--
        --><span class="column-timestamp">{timestamp}</span><!--
        --><span class="column-paths">
            <div class="arrow arrow-down"></div>
        </span><!--
        --><span class="column-download btn btn-link btn-download"><i class="fa fa-download"></i>$_("Download")</span><!--
        --><span class="column-delete btn btn-link btn-delete "><i class="fa fa-minus-circle"></i>$_("Remove")</span>
        <div class="backup-history" style="display: none;">
            <div class="backup-history-list" ></div>
        </div>
    </li>
</script>
<script id="backupTooltip" type="text/html">
    <div class="row bkp-paths-header" style="display: -webkit-box;">
        <div class="column-description">$_("Description")</div>
        <div class="column-paths-included">$_("Paths Included")</div>
        <div class="column-paths-excluded">$_("Paths Excluded")</div>
    </div>
    <div class="row bkp-paths-body" style="display: -webkit-box;">
        <div class="column-description">{description}</div>
        <div class="column-paths-included">includePlaceHodler</div>
        <div class="column-paths-excluded">excludePlaceHodler</div>
    </div>
</script>
<script id="pathItem" type="text/html">
    <div class="path-item">
        <input type="text" class="form-control input" />
        <span class="column-delete btn btn-link delete del-label"><i class="fa fa-minus-circle"></i>$_("Remove")</span>
    </div>
</script>
<script id="nicItem" type="text/html">
    <form class="form-inline">
        <div class="form-group column-name">
            <label class="network-item">{name}</label>
        </div>
        <div class="form-group column-ip-address">
            <input type="text" class="form-control" id="ip-address" placeholder="$_("Enter IP Address")" value="{ipaddr}">
        </div>
        <div class="form-group column-ip-mask">
            <input type="text" class="form-control" id="ip-mask" placeholder="$_("Enter IP Address")" value="{netmask}"> </input>
        </div>
        <div class="form-group column-actions">
            <button class="btn btn-link edit {viewMode}" type="submit"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-link save {editMode}" type="submit"><i class="fa fa-floppy-o"></i></button>
            <button class="btn btn-link cancel hide" type="submit"><i class="fa fa-ban"></i></button>
        </div>
    </form>
</script>
<script id="nwGlobalItem" type="text/html">
    <form class="form-inline sec-content">
        <div class="form-group column-dns-ip-address">
            <input type="text" class="form-control" id="dns-ip-address" placeholder="$_("Enter IP Address")" value="{ip}">
        </div>
        <div class="form-group column-actions">
            <button class="btn btn-link edit {viewMode}" type="submit"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-link save {editMode}" type="submit"><i class="fa fa-floppy-o"></i></button>
            <button class="btn btn-link cancel hide" type="submit"><i class="fa fa-ban"></i></button>
        </div>
    </form>
</script>
<script id="pwMgmtItem" type="text/html">
    <div class="pwr-item"><span class="{selected}"></span><span class="pwr-item-label {toSelect}">{name}</span></div>
</script>
<script id="sensorItem" type="text/html">
    <li class="header sensor-inline">
        <span class='default_column'>{labelHead}</span>
    </li>
    <li class="body">
        <span id={labelHead} class='default_column'>{labelBody}: {labelNumber} {labelUnit}</span>
    </li>
</script>
<script id="userItem" type="text/html">
    <li class="content-body body">
        <span class="column-username" data-type="name">{userName}</span><!--
        --><span class="column-usergroup" data-type="group">{userGroup}</span><!--
        --><span class="column-userprofile" data-type="profile">{userProfile}</span><!--
        --><span class="column-detach btn btn-link detach"><i class="fa fa-trash-o"></i></span>
    </li>
</script>
<script id="subscItem" type="text/html">
    <li class="body">
        <span class="column-hostname" data-type="hostname">{hostname}</span><!--
        --><span class="column-port" data-type="port">{port}</span><!--
        --><span class="column-community" data-type="community">{community}</span><!--
        --><span class="column-detach btn btn-link detach"><i class="fa fa-trash-o"></i></span>
    </li>
</script>
<script>
ginger.initAdmin();
</script>
<script id="userManagement" type="text/javascript"></script>
</body>
</html>
