<!DOCTYPE html>
<!--
Copyright IBM Corp, 2016

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>
<head>
<link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
<script type="text/javascript" src="plugins/ginger/js/util.js"></script>
<script type="text/javascript" src="plugins/ginger/js/host-sysmodules.js"></script>
<script type="text/javascript" src="plugins/ginger/js/ginger-bootgrid.js"></script>
</head>
<body>
    <div id="host-sysmodules-root-container" class="ginger">
        <nav class="navbar navbar-default toolbar">
            <div class="container">
                <div id="toolbar"></div>
            </div>
        </nav>
        <div class="container">
            <div id="alert-container"></div>
            <div id="gingerHostAdmin" class="host-admin">
                <div class="panel-group accordion" id="sysmodules-accordion" role="tablist" aria-multiselectable="true">
                     <h3>
                        <a role="button" data-toggle="collapse" data-parent="#sysmodules-accordion" href="#sysmodules-content-area" aria-expanded="false" aria-controls="sysmodules-content-area" class="">
                            <span class="accordion-icon"></span><span class="accordion-text">$_("System Modules Management")</span>
                        </a>
                    </h3>
                    <div id="sysmodules-content-area" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="row grid-control">
                             <div class="sysmodules-actions btn-group" id="sysmodules-actions-area">
                                <button class="btn btn-primary load-modules-btn" type="button" id="load_sysmodules_button"><i class="fa fa-download"></i> $_("Load Modules")</button>
                             </div>
                             <div class="pull-right">
                                <label for="search_input" class="sr-only">$_("Filter"):</label>
                                <input type="text" class="filter form-control search" id="search_input" placeholder="$_("Filter")">
                             </div>
                         </div>
                         <div class="wok-datagrid" id="sysmodules-datagrid">
                            <div class="wok-datagrid-header">
                                <span class="column-name">$_("Name")</span><!--
                                --><span class="column-depends">$_("Depends On")</span><!--
                                --><span class="column-version">$_("Version")</span><!--
                                --><span class="column-details">$_("Details")</span><!--
                                --><span class="column-actions" style="display:none">
                                    <span class="sr-only">$_("Actions")</span><!--
                                --></span>
                            </div>
                            <ul class="wok-datagrid-body list" id="sysmodules-body"></ul>
                         </div>
                        <div class="wok-mask">
                            <div class="wok-mask-loader-container">
                                <div class="wok-mask-loading">
                                    <div class="wok-mask-loading-icon"></div>
                                    <div class="wok-mask-loading-text">$_("Loading...")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script id="sysmodulesItem" type="html/text">
    <li class="wok-datagrid-row in" name="sysmodulesBodyItem" id="{name}" data-id="{name}">
        <span class="column-name name-filter" title="{name}">{name}</span><!--
        --><span class="column-depends depends-filter">{depends}</span><!--
        --><span class="column-version version-filter">{version}</span><!--
        --><span class="column-details">
            <div class="arrow arrow-down"></div>
        </span><!--
        --><span class="column-actions btn btn-link btn-unload"><i class="fa fa-upload"></i> $_("Unload")</span>
        <div class="sysmodules-details" style="display: none;">
            <div class="details-list"></div>
        </div>
        <div class="clear"></div>
    </li>
</script>
<script id="detail-head" type="text/html">
    <span class="column-{key}">
        <span class='header-{key}'>{title}</span>
        <span class='body-{key}'></span>
    </span>
</script>
<script id="detail-body" type="text/html">
    <span class="row-{index}">{object}</span>
</script>
<script id="detail-body-obj" type="text/html">
    <span  class="row-{index}">
        <span class="col-key">{key}:</span>
        <span class="col-value">{value}</span>
    </span>
</script>
<script>
    ginger.initSysmodules();
</script>
<div id="modalWindow" class="modal fade host-modal sysmodules-modal ginger" tabindex="-1" role="dialog" aria-labelledby="sysmodulesModalLabel" aria-hidden="true"></div>
</body>
</html>
