<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015-2016

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>
<head>
    <link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
    <script type="text/javascript" src="plugins/ginger/js/util.js"></script>
    <script type="text/javascript" src="plugins/ginger/js/host-admin.js"></script>
</head>
<body>
    <div id="administration-root-container" class="ginger">
    <div class="container">
        <div id="alert-container"></div>
        <div id="gingerHostAdmin" class="host-admin">
          <!-- Audit Rules section -->
          <div class="panel-group audit-ppc-enabled accordion" id="rules-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
              <h3>
                  <a role="button" data-toggle="collapse" data-parent="#rules-ppc-enabled-accordion" href="#audit-rules-content-area" aria-expanded="false" aria-controls="audit-rules-content-area" class="">
                      <span class="accordion-icon"></span><span class="accordion-text">$_("Audit Rules")</span>
                  </a>
              </h3>
              <div id="modalWindow" class="modal fade host-modal guests-modal" tabindex="-1" role="dialog" aria-labelledby="guestsModalLabel" aria-hidden="true">
              </div>
              <div id="audit-rules-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <span id='alert-modal-audit-rules-container' style='display: none;'></span>
                  <div class='clearfix'>
                    <span id="audit-message" style="display:none;"></span>
                      <div class="row">
                         <div class="col-sd-12"><span>&nbsp;</span></div>
                         <div class="pull-left">
                             <div class="btn-group">
                                 <div class="btn-group">
                                     <div class="dropdown auditmenu-action">
                                         <button type="button" class="btn btn-primary dropdown-toggle edit-alt" data-toggle="dropdown">
                                             <i class="fa fa-pencil-square-o"> Actions </i> <span class="caret"></span></button>
                                         <ul class="dropdown-menu" role="menu">
                                             <li>
                                                 <button aria-expanded="false" id="Audit-Rule-Edit-btn" class="btn btn-primary"><i class="fa fa-pencil"> Edit</i></button>
                                             </li>
                                             <li>
                                                 <button aria-expanded="false" id="Audit-Rule-Load-btn" class="btn btn-primary"><i class="fa fa-file"> Load</i></button>
                                             </li>
                                             <li>
                                                 <button aria-expanded="false" id="Audit-Rule-unload-btn" class="btn btn-primary"><i class="fa fa-upload"> Unload</i></button>
                                             </li>
                                             <li>
                                                 <button aria-expanded="false" id="Audit-Rule-Persist-btn" class="btn btn-primary"><i class="fa fa-floppy-o"> Persist</i></button>
                                             </li>
                                             <li>
                                                 <button aria-expanded="false" style="background-color:#d9182d" id="audit-rule-delete-btn" class="btn btn-primary"><i class="fa fa-minus-circle"> Delete</i></button>
                                             </li>
                                         </ul>
                                     </div>
                                 </div>
                                 <div class="btn-group">
                                     <div class="dropdown auditmenu-action">
                                         <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                             <i class="fa fa-pencil-square-o">  Rules </i> <span class="caret"></span></button>
                                         <ul class="dropdown-menu" role="menu">
                                             <li>
                                                 <button aria-expanded="false" id="audit-rule-add-btn" class="btn btn-primary"><i class="fa fa-plus-circle"> Add</i></button>
                                             </li>
                                             <li>
                                                 <button aria-expanded="false" id="Audit-Rule-Import-btn" class="btn btn-primary"><i class="fa fa-download"> Import</i></button>
                                             </li>
                                         </ul>
                                     </div>
                                 </div>
                                 <button aria-expanded="false" id="Audit-Rule-Configure-btn" class="btn btn-primary"><i class="fa fa-pencil-square-o"> Configure Audit</i></button>
                                 <button aria-expanded="false" id="Audit-Rule-refresh-btn" class="btn btn-primary"><i class="fa fa-refresh"> Refresh</i></button>
                             </div>
                         </div>
                      </div>
                      <div class="row" id="audit-rules">
                        <table id="audit-rules-table" class="table table-stripped" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>$_("ID")</th>
                              <th>$_("Type")</th>
                              <th>$_("Rule")</th>
                              <th style="text-align:center;">$_("Details")</th>
                              <th style="text-align:center;">$_("Loaded")</th>
                              <th style="text-align:center;">$_("Persisted")</th>
                              <th>$_("Info")</th>
                              <th>$_("pervalue")</th>
                              <th>$_("loadvalue")</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                  </div>
                  <div class="wok-mask rules-loader">
                    <div class="wok-mask-loader-container">
                      <div class="wok-mask-loading">
                        <div class="wok-mask-loading-icon"></div>
                        <div class="wok-mask-loading-text">$_("Loading...")</div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!-- Audit logs section -->
    <div class="panel-group users-ppc-enabled accordion" id="rules-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
        <h3>
            <a role="button" data-toggle="collapse" data-parent="#rules-ppc-enabled-accordion" href="#audit-logs-content-area" aria-expanded="false" aria-controls="audit-rules-content-area" class="">
                <span class="accordion-icon"></span><span class="accordion-text">$_("Audit Logs")</span>
            </a>
        </h3>
        <div id="audit-logs-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <span id='alert-modal-audit-logs-container' style='display: none;'></span>
            <div class='clearfix'>
                <div class="row">
                   <div class="col-sd-12"><span>&nbsp;</span></div>
                </div>
                <div class="row" id="audit-logs">
                  <table id="audit-logs-table" class="table table-stripped" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>$_("Date and Time")</th>
                        <th>$_("Type")</th>
                        <th>$_("Message")</th>
                        <th style="text-align:center;">$_("Details")</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
            </div>
            <div class="wok-mask logs-loader">
              <div class="wok-mask-loader-container">
                <div class="wok-mask-loading">
                  <div class="wok-mask-loading-icon"></div>
                  <div class="wok-mask-loading-text">$_("Loading...")</div>
                </div>
              </div>
            </div>
        </div>
    </div>
<!-- Audit dispatcher section -->
  <div class="panel-group users-ppc-enabled accordion" id="rules-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
    <h3>
        <a role="button" data-toggle="collapse" data-parent="#rules-ppc-enabled-accordion" href="#audit-dispatcher-content-area" aria-expanded="false" aria-controls="audit-rules-content-area" class="">
            <span class="accordion-icon"></span><span class="accordion-text">$_("Audit Dispatcher")</span>
        </a>
    </h3>
    <div id="audit-dispatcher-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <span id='alert-modal-audit-dispatcher-container' style='display: none;'></span>
        <div class='clearfix'>
            <div class="row">
               <div class="col-sd-12"><span>&nbsp;</span></div>
            </div>
            <div class="row" id="audit-dispatcher">
              <table id="audit-disp-plugin-table" class="table table-stripped" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>$_("Plugin")</th>
                    <th>$_("Active")</th>
                    <th style="text-align:center;">$_("Details")</th>
                    <th>$_("Info")</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
        </div>
        <div class="wok-mask dispatcher-loader">
          <div class="wok-mask-loader-container">
            <div class="wok-mask-loading">
              <div class="wok-mask-loading-icon"></div>
              <div class="wok-mask-loading-text">$_("Loading...")</div>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- Firmware Update Panel -->
            <div class="panel-group firmware-ppc-enabled accordion" id="firmware-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
                <h3>
                    <a role="button" data-toggle="collapse" data-parent="#firmware-ppc-enabled-accordion" href="#firmware-update-content-area" aria-expanded="false" aria-controls="firmware-update-content-area" class="">
                        <span class="accordion-icon"></span><span class="accordion-text">$_("Firmware Update")</span>
                    </a>
                </h3>
                <div id="firmware-update-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class='fmw-content clearfix'>
                        <div class="col-md-4">
                            <div class='fmw-label'>$_("Version")</div>
                            <div class="firmware-ver fmw-item" id="gingerFWVer">fmw-version</div>
                            <div class="form-group fmw-form">
                                <label for="gingerPackPath" class="pack-path-label fmw-label">$_("Packaging Path ")</label>
                                <input type="text" class="form-control" id="gingerPackPath" placeholder="$_('Absolute path to firmware RPM')">
                            </div>
                            <button class="btn btn-primary" type="submit" id="gingerPackPathSub" disabled="true">$_("Update")</button>
                        </div>
                    </div>
                    <div id="fwprogress-container" class="hidden">
                        <div class="fwprogress-main">
                            <h3>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fwprogress-textarea" aria-expanded="true" aria-controls="fwprogress-textarea" class="">
                                <span class="accordion-icon"></span><span class="accordion-text">$_("Update Progress")</span>
                            </a>
                            </h3>
                            <textarea class="collapse in" id="fwprogress-textarea" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Configuration Backup Panel -->
        <div class="panel-group backup-ppc-enabled accordion" id="backup-ppc-enabled-accordion" role="tablist" aria-multiselectable="true"  style="display: none;">
             <h3>
                <a role="button" data-toggle="collapse" data-parent="#backup-ppc-enabled-accordion" href="#backup-ppc-content-area" aria-expanded="false" aria-controls="backup-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("Configuration Backup")</span>
                </a>
            </h3>
            <div id="backup-ppc-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                 <div class="backup-pcc-actions btn-group" id="backup-pcc-action-area">

                    <ul class="dropdown-menu" role="menu">
                        <li class=""><btn data-dismiss="modal" id="available-reports-grid-generate-button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Generate</btn></li>
                    </ul>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="newDefaultBakBtn"><i class="fa fa-file"></i> $_("Generate Default Backup")</button>
                        <button type="button" class="btn btn-primary" id="newCustomBakBtn" data-toggle="modal" data-target="#newBakDialog"><i class="fa fa-file"></i> $_("New Custom Backup")</button>
                        <button type="button" class="btn btn-primary" id="batchDeleteButton" data-toggle="modal" data-target="#batDelDialog"><i class="fa fa-minus-circle"></i> $_("Batch Delete")</button>
                    </div>
                 </div>
                 <div class="wok-datagrid">
                    <div class="wok-datagrid-header">
                            <span class="column-file">$_("File")</span><!--
                            --><span class="column-timestamp">$_("Timestamp")</span><!--
                            --><span class="column-paths">$_("Paths")</span><!--
                        --><span class="column-download" style="display:none">
                                <span class="sr-only">$_("Download")</span><!--
                            --></span><!--
                        --><span class="column-delete" style="display:none">
                                <span class="sr-only">$_("Delete")</span><!--
                            --></span>
                    </div>
                    <ul class="wok-datagrid-body" id="bakGridBody"></ul>
                 </div>
            </div>
        </div>
        <!-- Power Options Panel -->
        <div class="panel-group powerprofiles-ppc-enabled accordion" id="powerprofiles-ppc-enabled-accordion" role="tablist" aria-multiselectable="true"  style="display: none;">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#powerprofiles-ppc-enabled-accordion" href="#gingerPowerMgmt" aria-expanded="false" aria-controls="gingerPowerMgmt" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("Power Options")</span>
                </a>
            </h3>
            <div id="gingerPowerMgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="pw-opt">
                    <div class="btn-group">
                        <button class="btn btn-primary actBtn" type="submit" disabled="true"><span id="progressIndicator"></span> $_("Activate")</button>
                    </div>
                    <div class="power-options"></div>
                </div>
            </div>

        </div>
        <!-- Sensor Monitor Panel -->
        <div class="panel-group sensors-ppc-enabled accordion" id="sensors-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#sensors-ppc-enabled-accordion" href="#sensors-ppc-content-area" aria-expanded="false" aria-controls="sensors-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("Sensor Monitor")</span>
                </a>
            </h3>
            <div id="sensors-ppc-content-area" class="panel-collapse collapse sensor-panel" role="tabpanel" aria-labelledby="headingOne">
                  <div class="row">
                    <div class="sensor-adapters">
                      <select id="adapters" class="selecpicker"></select>
                      <button class="btn btn-primary update-sensors">$_("Get Sensors")</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sensors-list">
                      <div id="sensors">
                      </div>
                    </div>
                  </div>
            </div>

        </div>
        <!-- SEP Configuration Panel -->
        <div class="panel-group sep-ppc-enabled accordion" id="sep-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#sep-ppc-enabled-accordion" href="#sep-ppc-content-area" aria-expanded="false" aria-controls="sep-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("SEP Configuration")</span>
                </a>
            </h3>
            <div id="sep-ppc-content-area" class="panel-collapse collapse" role="tabpanel">
                <div class="action-bar">
                    <span class="sep-label">$_("Status")</span><!--
                    --><i class="fa fa-circle"></i><!--
                    --><i class="fa fa-times-circle"></i><!--
                    --><span id="sepStatusLog"></span><!--
                    --><div class="pull-right"><button class="btn btn-primary" type="submit" id="sepStart">$_("Start")</button><!--
                    --><button class="btn btn-primary" type="submit" id="sepStop">$_("Stop")</button><!--
                    --><button class="btn btn-primary add-subscription" type="submit" data-toggle="modal" data-target="#subscriptionAdd">$_("Subscribe")</button>
                    </div>
                </div>
                <div class="wok-datagrid">
                    <li class='wok-datagrid-header'>
                        <span class="column-hostname">$_("Hostname")</span><!--
                        --><span class="column-port">$_("Port")</span><!--
                        --><span class="column-community">$_("Community")</span><!--
                        --><span class="column-detach" style="display:none">
                            <span class="sr-only">Detach</span><!--
                        --></span>
                    </li>
                    <ul class="subsc-manage">
                    </ul>
                </div>
            </div>

        </div>
        <!-- User Management Panel -->
        <div class="panel-group users-ppc-enabled accordion" id="users-ppc-enabled-accordion" role="tablist" aria-multiselectable="true" style="display: none;">
            <h3>
                <a role="button" data-toggle="collapse" data-parent="#users-ppc-enabled-accordion" href="#users-ppc-content-area" aria-expanded="false" aria-controls="users-ppc-content-area" class="">
                    <span class="accordion-icon"></span><span class="accordion-text">$_("User Management")</span>
                </a>
            </h3>
            <div id="users-ppc-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="btn-group">
                    <button class="btn btn-primary actBtn add-user" type="submit" data-toggle="modal" data-target="#hostUserAdd"><i class="fa fa-plus-circle"></i> $_("Add User")</button>
                </div>
                <span id='alert-modal-user-container' style='display: none;'></span>
                <div class="wok-datagrid" id="usermangementgrid">
                    <div class="wok-datagrid-header">
                        <span class="column-username">$_("Name")</span><!--
                        --><span class="column-usergroup">$_("Group")</span><!--
                        --><span class="column-userprofile">$_("Profile")</span><!--
                        --><span class="column-detach" style="display:none">
                            <span class="sr-only">$_("Detach")</span><!--
                        --></span>
                    </div>
                    <ul class="wok-datagrid-body user-manage">
                    </ul>
                </div>
            </div>
    </div>
</div>

<!-- Configuration Backup Modal - Create Custom Backup -->
<div class="modal fade host-modal" id="newBakDialog" tabindex="-1" role="dialog" labelledby="newBakLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">$_("Create a backup")</h4>
            </div>
            <div class="modal-body">
                <div id="alert-backup-modal"></div>
                <form id="form-backup-add">
                    <div class="form-group">
                        <label for="description-textbox">$_("Description")</label>
                        <input type="text" class="form-control input" id="description-textbox" name="description" />
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" >
                            <label class="col-md-12">$_("Paths Included")</label>
                            <span class='add-path-to-include'><a  class="add btn btn-link" href="#"><i class="fa fa-plus-circle"></i> $_("Add a Path")</a></span>
                            <div id="includeBox"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12">$_("Paths Excluded")</label>
                            <span class='add-path-to-exclude'><a  class="add btn btn-link" href="#"><i class="fa fa-plus-circle"></i> $_("Add a Path")</a></span>
                            <div id="excludeBox"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="newBakFormBtn" class="btn btn-default" disabled>$_("Generate Backup")</button>
                <button type="button" id="newBakFormCancelBtn" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
            </div>
        </div>
    </div>
</div>


<!-- Configuration Backup Modal - Batch Delete -->
<div class="modal fade host-modal" id="batDelDialog" tabindex="-1" role="dialog" labelledby="batDelLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Delete Backups in Batch")</h4>
          </div>
          <div class="modal-body">
            <div id="alert-backup-batch-modal"></div>
            <form id="form-bat-delete">
                <div class="form-group">
                    <div id="radio-buttons">
                        <label class="radio-inline">
                            <input type="radio" name="batDelType" class="wok-radio" id="counts-ago-radio" value="counts_ago" checked/>
                            <label for="counts-ago-text">$_("Preserve the latest")</label>
                            <input type="text" class="form-control" id="counts-ago-text" style="display: inherit;width: auto;"> $_("backups")
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="radio-buttons">
                        <label class="radio-inline">
                            <input type="radio" name="batDelType" class="wok-radio" id="days-ago-radio" value="days_ago"/>
                            <label for="days-ago-text">$_("Preserve the latest")</label>
                            <input type="text" class="form-control" id="days-ago-text" style="display: inherit;width: auto;" disabled> $_("days of backups")
                        </label>
                    </div>
                </div>
            </form>
            <div role="alert" class="alert alert-info">$_("Value should be integer")</div>
          </div>
          <div class="modal-footer">
            <button type="button" id="batdel-submit" class="btn btn-default" disabled>$_("Submit")</button>
            <button type="button" id="batdel-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

<!-- SEP Configuration Modal - Add Subscription -->
<div class="modal fade host-modal" id="subscriptionAdd" tabindex="-1" role="dialog" labelledby="hostsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Add Subscription")</h4>
          </div>
          <div class="modal-body">
            <div id="alert-subscription-modal"></div>
            <form id="form-subscription-add">
                <div class="form-group">
                    <label for="hostname-textbox">$_("Hostname")</label>
                    <input type="text" class="form-control input" id="hostname-textbox" name="hostname" />
                </div>
                <div class="form-group">
                    <label for="port-textbox">$_("Port")</label>
                    <input type="text" class="form-control input" id="port-textbox" name="port" />
                </div>
                <div class="form-group">
                    <label for="community-textbox">$_("Community")</label>
                    <input type="text" class="form-control input" id="community-textbox" name="community" />
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="subsc-submit" class="btn btn-default" disabled>$_("Submit")</button>
            <button type="button" id="subsc-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

<!-- User Management Modal - Add User -->
<div class="modal fade host-modal" id="hostUserAdd" tabindex="-1" role="dialog" labelledby="addUserModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Add User")</h4>
          </div>
          <div class="modal-body">
          <div id="alert-user-modal"></div>
            <form id="form-user-add">
                <div class="form-group">
                    <label for="username-textbox">$_("User Name")</label>
                    <input type="text" class="form-control inputbox" id="username-textbox" name="userName" />
                </div>
                <div class="form-group">
                    <label for="password-textbox">$_("Password")</label>
                    <input type="password" class="form-control inputbox" id="password-textbox" name="userPasswd" />
                </div>
                <div class="form-group">
                    <label for="confirm-password-textbox">$_("Confirm Password")</label>
                    <input type="password" class="form-control inputbox" id="confirm-password-textbox" name="userConfirmPasswd" />
                </div>
                <div class="form-group">
                    <label for="usergroup-textbox">$_("Group")</label>
                    <input type="text" class="form-control inputbox" id="usergroup-textbox" name="userGroup" disabled />
                    <div class="checkbox">
                          <input type="checkbox" class="enable-combobox wok-checkbox" id="enableEditGroup" />
                          <label for="enableEditGroup">$_("Use Other")</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>$_("Profile")</label>
                    <div id="radio-buttons">
                        <input type="radio"  checked="checked" name="userProfile" class="wok-radio" id="userLogin" value="regularuser"/>
                        <label for="userLogin">$_("Regular")</label>
                        <input type="radio"  name="userProfile" class="wok-radio" id="userNologin" value="userNologin"/>
                        <label for="userNologin">$_("Regular (No Shell)")</label>
                         <input type="radio" name="userProfile" class="wok-radio" id="virtuser" value="virtuser"/>
                        <label for="virtuser">$_("Virt User")</label>
                        <input type="radio" name="userProfile" class="wok-radio" id="admin" value="admin" />
                        <label for="admin">$_("Administrator")</label>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="user-submit" class="btn btn-default" disabled>$_("Submit")</button>
            <button type="button" id="user-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

<!-- User Management Modal - Change Password -->
<div class="modal fade host-modal" id="hostUserPasswordChange" tabindex="-1" role="dialog" labelledby="UserPasswordChangeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">$_("Password Change")</h4>
          </div>
          <div class="modal-body">
          <div id="alert-user-password-change-modal"></div>
            <form id="form-user-passwdchange">
                <div class="form-group">
                    <label for="password-textbox">$_("New Password")</label>
                    <input type="password" class="form-control inputbox" id="password-textbox" name="newUserPasswd" />
                </div>
                <div class="form-group">
                    <label for="confirm-password-textbox">$_("Confirm Password")</label>
                    <input type="password" class="form-control inputbox" id="confirm-password-textbox" name="confirmNewPasswd" />
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="user-password-change-submit" class="btn btn-default" disabled>$_("Submit")</button>
            <button type="button" id="user-password-change-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>
<!-- Audit logs - Log Filter -->
<div class="modal fade host-modal" id="auditlogFilter" tabindex="-1" role="dialog" labelledby="UserPasswordChangeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" id="log-filter-button-close" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="log-filter-title"></h4>
            <hr style="width:99%;margin-left:5px;"/>
          </div>
          <div class="modal-body">
            <span id='alert-modal-audit-filter-container' style='display: none;'></span>
            <form class="form-horizontal" id="form-log-report-filter">
              <div class="form-group">
               <label for="log-path-info">$_("Log File Name")</label>
                  <div class="form-group">
                    <input id="log-path-info" class="form-control input" name="path" style="width:50%;"/>
                    <p class="help-block">
                        <i class="fa fa-info-circle"></i> $_("Please provide either file name or directory where the log file exists.")
                    </p>
                  </div>
              </div>
              <div class="row">
                <span class='add-new-filter'><a  class="add-filter btn btn-link" href="#" style="padding-left:0px;"><i class="fa fa-plus-circle"></i> $_("Add new filter")</a></span>
              </div>
              <div class="row hidden" id="filterList">
                  <div class="col-md-12">
                      <div class="col-md-5">
                          <label class="col-md-12">$_("Field")</label>
                      </div>
                      <div class="col-md-5">
                          <label class="col-md-12">$_("Value")</label>
                      </div>
                      <div class="col-md-2">
                      </div>
                  </div>
                  <div class="col-md-12" id="newRow">
                  </div>
              </div>
              <div class="checkbox" style="margin-top:25px;">
                  <label class="check-all">
                      <input type="checkbox" id="interpret" style="margin-top:10px;">$_("Interpret  numeric  entities into text")
                  </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="log-filter-button-apply" class="btn btn-default">$_("Filter")</button>
            <button id="log-filter-button-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>

<!-- Audit log report summary -->
<div class="modal fade host-modal" id="auditlogReport" tabindex="-1" role="dialog" labelledby="UserPasswordChangeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" id="log-report-button-close" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="log-summary-title">$_("Audit Report")</h4>
            <hr style="width:99%;margin-left:5px;"/>
          </div>
          <div class="modal-body">
            <span id='alert-modal-audit-report-container' style='display: none;'></span>
            <form class="form-horizontal" id="form-log-report-filter">
              <!-- <div class="form-group"> -->
                <div class="form-group">
                  <label for="reportType">$_("Audit Report Type")</label>
                   <div class="col-md-12">
                    <select id="reportType" class="selectpicker col-sm-6" name="reporttype">
                      <option value="summary">$_("Summary Report")</option>
                      <option value="detailed">$_("Detailed Report")</option>
                    </select>
                    <button id="log-report-button-apply" class="btn btn-primary"style="margin-left:100px;">$_("Generate Report")</button>
                  </div>
                 </div>
                 <div class="form-group">
                    <label for="log-path-info">$_("Log File Name")</label>
                    <input id="log-path-info" class="form-control input" name="path" style="width:50%;"/>
                    <p class="help-block">
                        <i class="fa fa-info-circle"></i> $_("Please provide either file name or directory where the log file exists.")
                    </p>
                  </div>
              <!-- </div> -->
              <div class="row">
                <span class='add-new-filter'><a  class="add-filter btn btn-link" href="#" style="padding-left:0px;"><i class="fa fa-plus-circle"></i> $_("Add new filter")</a></span>
              </div>
              <div class="row hidden" id="filterList">
                  <div class="col-md-12">
                      <div class="col-md-5">
                          <label class="col-md-12">$_("Field")</label>
                      </div>
                      <div class="col-md-5">
                          <label class="col-md-12">$_("Value")</label>
                      </div>
                      <div class="col-md-2">
                      </div>
                  </div>
                  <div class="col-md-12" id="newRow">
                  </div>
              </div>
              <div class="checkbox" style="margin-top:25px;">
                  <label class="check-all">
                      <input type="checkbox" id="interpret" style="margin-top:10px;">$_("Interpret  numeric  entities into text")
                  </label>
              </div>
            </form>
           <div class="row hidden" id="report-details" style="margin-top:30px;" tabindex="-1">
             <div class="alert alert-info hidden" id="summaryReportPathInfo"></div>
              <div class="row">
                <button id="report-graph-button" class="btn btn-primary" data-toggle="modal" data-target="#reportGraph">$_('Graph Preview')</button>
                <button id="report-download-button" class="btn btn-primary" data-search="">$_('Download')</button>
              </div>
              <div class="clearfix">
               <p id="summaryreport" class="report"></p>
              </div>
              <div class="wok-mask report-loader">
                <div class="wok-mask-loader-container">
                  <div class="wok-mask-loading">
                    <div class="wok-mask-loading-icon"></div>
                    <div class="wok-mask-loading-text">$_("Generating report...")</div>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="modal-footer">
            <button id="log-report-button-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
</div>
<!-- Audit report graph -->
<div class="modal fade host-modal" id="reportGraph" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" id="report-graph-button-close" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="log-summary-title">$_("Report Graph")</h4>
            <hr style="width:99%;margin-left:5px;"/>
          </div>
          <div class="modal-body">
            <span id='alert-modal-audit-graph-container' style='display: none;'></span>
            <form class="form-horizontal" id="form-log-report-filter">
               <div class="form-group">
                   <label for="graph-name">$_("Graph Name")</label>
                   <input id="graph-name" class="form-control input" name="graph-name" style="width:50%;"/>
               </div>
               <div class="form-group">
                  <label for="graphFormat">$_("Graph Format")</label>
                   <div class="col-md-12">
                    <select id="graphFormat" class="selectpicker col-sm-6" name="graphformat">
                      <option value="png">$_("PNG")</option>
                      <option value="jpeg">$_("JPEG")</option>
                      <option value="bmp">$_("BMP")</option>
                      <option value="jpg">$_("JPG")</option>
                      <option value="pdf">$_("PDF")</option>
                      <option value="svg">$_("SVG")</option>
                    </select>
                    <button id="generate-report-graph-button" class="btn btn-primary"style="margin-left:100px;">$_("Generate Graph")</button>
                  </div>
                 </div>
                 <div class="form-group">
                   <label for="graphColumns">$_("Graph Columns")</label>
                    <div class="col-md-12">
                     <select id="graphColumns" class="selectpicker col-sm-6" name="graphcolumn" multiple data-max-options="2" data-min-options="2">
                     </select>
                    </div>
                  </div>
            </form>
            <div class="alert alert-info hidden" id="graphPathInfo"></div>
           </div>
          <div class="modal-footer">
            <button id="log-report-button-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
          </div>
        </div>
    </div>
 </div>
 <!-- Audit Dispatcher Configuration -->
 <div class="modal fade host-modal" id="auditDisprConf" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog" role="document">
         <div class="modal-content" >
           <div class="modal-header">
             <button type="button" id="log-filter-button-close" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
             <h4 class="modal-title" id="disp-conf-title">$_("Audit Dispatcher Configuration")</h4>
             <hr style="width:99%;margin-left:5px;"/>
           </div>
           <div class="modal-body">
             <span id='alert-modal-disp-conf-container' style='display: none;'></span>
             <form class="form-horizontal" id="form-log-report-filter">
               <div class="form-group">
                <label for="overflowAction">$_("Overflow Action")</label>
                   <div class="form-group">
                     <input id="overflowAction" class="form-control input" name="overflowAction" style="width:50%;"/>
                   </div>
               </div>
               <div class="form-group">
                <label for="priorityBoost">$_("Priority Boost")</label>
                   <div class="form-group">
                     <input id="priorityBoost" class="form-control input" name="priorityboost" style="width:50%;"/>
                   </div>
               </div>
               <div class="form-group">
                <label for="qDepth">$_("Q Depth")</label>
                   <div class="form-group">
                     <input id="qDepth" class="form-control input" name="qDepth" style="width:50%;"/>
                   </div>
               </div>
               <div class="form-group">
                <label for="maxRestarts">$_("Max restarts")</label>
                   <div class="form-group">
                     <input id="maxRestarts" class="form-control input" name="maxrestarts" style="width:50%;"/>
                   </div>
               </div>
               <div class="form-group">
                <label for="nameFormat">$_("Name Format")</label>
                   <div class="form-group">
                     <input id="nameFormat" class="form-control input" name="nameFormat" style="width:50%;"/>
                   </div>
               </div>
              </form>
           </div>
           <div class="modal-footer">
             <button id="disp-conf-button-apply" class="btn btn-default">$_("Apply")</button>
             <button id="disp-conf-button-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
           </div>
         </div>
     </div>
  </div>

  <!-- Audit Dispatcher Plugin Details -->
  <div class="modal fade host-modal" id="auditPluginDetails" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
          <div class="modal-content" >
            <div class="modal-header">
              <button type="button" id="disp-plugin-button-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="disp-conf-title">$_("Dispatcher Plugin Configuration")</h4>
              <hr style="width:99%;margin-left:5px;"/>
            </div>
            <div class="modal-body">
              <span id='alert-modal-plugin-container' style='display: none;'></span>
              <form class="form-horizontal" id="form-plugin-details">
                <div class="form-group">
                 <label for="direction">$_("Direction")</label>
                    <div class="form-group">
                      <input id="direction" class="form-control input" name="direction" style="width:50%;"/>
                    </div>
                </div>
                <div class="form-group">
                 <label for="format">$_("Format")</label>
                    <div class="form-group">
                      <input id="format" class="form-control input" name="format" style="width:50%;"/>
                    </div>
                </div>
                <div class="form-group">
                 <label for="args">$_("Args")</label>
                    <div class="form-group">
                      <input id="args" class="form-control input" name="args" style="width:50%;"/>
                    </div>
                </div>
                <div class="form-group">
                 <label for="active">$_("Active")</label>
                    <div class="form-group">
                      <select id="active" class="selectpicker col-sm-6" name="active">
                        <option value="yes">$_("Yes")</option>
                        <option value="no">$_("No")</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                 <label for="nameFormat">$_("Path")</label>
                    <div class="form-group">
                      <input id="path" class="form-control input" name="path" style="width:50%;"/>
                    </div>
                </div>
                <div class="form-group">
                 <label for="type">$_("Type")</label>
                    <div class="form-group">
                      <input id="type" class="form-control input" name="type" style="width:50%;"/>
                    </div>
                </div>
               </form>
            </div>
            <div class="modal-footer">
              <button id="plugin-update-button-apply" class="btn btn-default">$_("Apply")</button>
              <button id="plugin-update-button-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
            </div>
          </div>
      </div>
   </div>
</div>
<script id="backupItem" type="text/html">
    <li class="wok-datagrid-row in" name="backupBodyItem" id="{identity}">
        <span class="column-file" title="{file}">{filename}</span><!--
        --><span class="column-timestamp">{timestamp}</span><!--
        --><span class="column-paths">
            <div class="arrow arrow-down"></div>
        </span><!--
        --><span class="column-download btn btn-link btn-download" title="$_('Download')" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><i class="fa fa-download"></i>$_("Download")</span><!--
        --><span class="column-delete btn btn-link btn-delete " title="$_('Remove')" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><i class="fa fa-minus-circle"></i>$_("Remove")</span>
        <div class="backup-history" style="display: none;">
            <div class="backup-history-list" ></div>
        </div>
        <div class="clear"></div>
    </li>
</script>
<script id="backupTooltip" type="text/html">
    <div class="row bkp-paths-header">
        <div class="column-description">$_("Description")</div>
        <div class="column-paths-included" title="$_('Paths Included')" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">$_("Paths Included")</div>
        <div class="column-paths-excluded" title="$_('Paths Excluded')" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">$_("Paths Excluded")</div>
    </div>
    <div class="row bkp-paths-body">
        <div class="column-description">{description}</div>
        <div class="column-paths-included">includePlaceHodler</div>
        <div class="column-paths-excluded">excludePlaceHodler</div>
    </div>
</script>
<script id="pathItem" type="text/html">
    <div class="path-item">
        <input type="text" class="form-control input"  placeholder="/Path/to/folder/" />
        <span class="column-delete"><button class="btn btn-link delete del-label"><i class="fa fa-minus-circle"></i> $_("Remove")</button></span>
    </div>
</script>
<script id="pwMgmtItem" type="text/html">
    <div class="pwr-item"><span class="{selected}"></span><span class="pwr-item-label {toSelect}">{name}</span></div>
</script>
<script id="sensorItem" type="text/html">
    <span class="header sensor-inline">
        <span class='default_column'>{labelHead}</span>
    </span>
    <span class="body">
        <span id="{labelHead}" class='default_column'>{labelBody}: {labelNumber} {labelUnit}</span>
    </span>
</script>
<script id="userItem" type="text/html">
    <li class="wok-datagrid-row">
        <span class="column-username" data-type="name">{userName}</span><!--
        --><span class="column-usergroup" data-type="group">{userGroup}</span><!--
        --><span class="column-userprofile" data-type="profile">{userProfile}</span><!--
        --><span class="column-detach">
                <div class="user-actions btn-group pull-right" id="users-pcc-action-area" style="padding-right:40px;"">
                    <div class="dropdown menu-flat ">
                        <button class="btn btn-primary dropdown-toggle users-pcc-button" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span class="edit-alt"></span>$_("Actions")<span class="caret"></span></button>
                        <ul class="dropdown-menu actionsheet">
                            <li role="presentation">
                                <a href="#" id="user-passwdchange" data-toggle="modal"><i class="fa fa-file"></i> $_("Change Password")</a>
                            </li>
                            <li role="presentation">
                                <a href="#" id="user-remove"><i class="fa fa-minus-circle"></i> $_("Remove")</a>
                            </li>
                        </ul>
                    </div>
                </div>
           </span>
    </li>
</script>
<script id="subscItem" type="text/html">
    <li class="wok-datagrid-row">
        <span class="column-hostname" data-type="hostname">{hostname}</span><!--
        --><span class="column-port" data-type="port">{port}</span><!--
        --><span class="column-community" data-type="community">{community}</span><!--
        --><span class="column-detach"><button class="btn btn-link detach pull-right"><i class="fa fa-minus-circle"></i> $_("Unsubscribe")</button></span>
    </li>
</script>
<script>
ginger.initAdmin();
</script>
<script id="userManagement" type="text/javascript"></script>
</body>
</html>
