<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>

<head>
  <link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
  <script type="text/javascript" src="plugins/ginger/js/util.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/ginger-bootgrid.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/host-network.js"></script>
</head>

<body>
  <div id="network-root-container" class="ginger">
    <nav class="navbar navbar-default toolbar">
      <div class="container">
        <div id="toolbar"></div>
      </div>
    </nav>
    <div class="container">
      <div id="gingerHostNetwork" class="host-network">
        <!-- Global Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled accordion" id="network-ppc-content-areanetwork-ppc-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" data-toggle="collapse" data-parent="#network-ppc-content-areanetwork-ppc-accordion" href="#network-ppc-content-area" aria-expanded="false" aria-controls="network-ppc-content-area" class="">
              <span class="accordion-icon"></span>
              <span class="accordion-text">$_("Global Network Configuration")</span>
            </a>
          </h3>
          <div id="network-ppc-content-area" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="clearfix">
              <div class="col-md-5">
                <div class="col-md-6 wok-datagrid">
                  <div class="wok-datagrid-header">
                    <span>$_("DNS IP Address")</span>
                  </div>
                  <button class="btn btn-primary addBtn" id="gingerDnsAdd" type="submit"><i class="fa fa-plus-circle"></i> $_("Add")</button>
                  <div class="wok-datagrid-body no-border" id="gingerDNS"></div>
                </div>
                <div class="col-md-6 wok-datagrid">
                  <div class="wok-datagrid-header">
                    <span>$_("Gateway IP Address")</span>
                  </div>
                  <div class="wok-datagrid-body no-border" id="gingerGateway"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled accordion" id="network-content-areanetwork-ppc-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" data-toggle="collapse" data-parent="#network-content-areanetwork-ppc-accordion" href="#network-content-area" aria-expanded="false" aria-controls="network-content-area" class="">
              <span class="accordion-icon"></span>
              <span class="accordion-text">$_("Network Configuration")</span>
            </a>
          </h3>
          <div id="network-content-area" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="clearfix">
              <span id='message-nw-container-area' style='display: none;'></span>
              <div class="columm-md-12" class="row">
                <div id="nw-configuration-actions" class="pull-left">
                </div>
                <div id="nw-configuration-add" class="pull-right">
                </div>
              </div>
              <div id="nw-configuration" class="row">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalWindow" class="modal fade host-modal network-io-modal" tabindex="-1" role="dialog" aria-labelledby="networkIOModalLabel" aria-hidden="true">
  </div>
  <script id="nwGlobalItem" type="text/html">
    <form class="form-inline sec-content wok-datagrid-row">
      <div class="form-group column-dns-ip-address">
        <input type="text" class="form-control" id="dns-ip-address" placeholder="$_(" Enter IP Address ")" value="{ip}">
      </div>
      <div class="form-group column-actions">
        <button class="btn btn-link edit {viewMode}" type="submit"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-link save {editMode}" type="submit"><i class="fa fa-floppy-o"></i></button>
        <button class="btn btn-link cancel hide" type="submit"><i class="fa fa-ban"></i></button>
      </div>
    </form>
  </script>
  <script>
    ginger.initNetwork();
  </script>
</body>
</html>
