<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>

<head>
  <link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
  <script type="text/javascript" src="plugins/ginger/js/util.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/ginger-bootgrid.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/host-network.js"></script>
</head>

<body>
  <div id="network-root-container" class="ginger">
    <nav class="navbar navbar-default toolbar">
      <div class="container">
        <div id="toolbar"></div>
      </div>
    </nav>
    <div class="container">
      <div id="gingerHostNetwork" class="host-network">
        <!-- Global Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled accordion" id="network-global-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" data-toggle="collapse" data-parent="#network-global-accordion" href="#network-global-content-area" aria-expanded="false" aria-controls="network-global-content-area" class="">
              <span class="accordion-icon"></span>
              <span class="accordion-text">$_("Global Network Configuration")</span>
            </a>
          </h3>
          <div id="network-global-content-area" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="row" id="nw-global-dns-action" style="padding-left:20px;">
              <div class="nw-global-dns-actions btn-group" id="nw-global-dns-action-area">
                <div class="dropdown menu-flat ">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <span class="edit-alt"></span>$_("Actions")
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu actionsheet">
                    <li role="presentation">
                      <a id="nw-global-apply-btn"><i class="fa fa-file"></i> $_("Apply")</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row" style="padding-left:20px;">
              <div class="clearfix">
                <span id='message-nw-global-container-area' style='display: none;'></span>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-8" style="margin-bottom:5px margin-top:5px">
                        <label class="control-label" for="nw-global-dns">$_("Global DNS Addresses")</label>
                      </div>
                      <div class="pull-right">
                        <button id="nw-global-dns-add" aria-expanded="false" type="button" class="row btn btn-primary"><i class="fa fa-plus-circle"></i>$_("Add")</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="wok-datagrid-body no-border" id="nw-global-dns">
                        <!--Filled by JS-->
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row" style="padding-left:20px;">
                      <div class="col-xs-8">
                        <label class="control-label" for="nw-global-dns">$_("Gateway")</label>
                      </div>
                    </div>
                    <div class="row" style="padding-left:20px;">
                      <div class="col-sm-4">
                        <input id="nw-global-gateway-textbox" class="form-control" name="gateway" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled accordion" id="network-content-area-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" data-toggle="collapse" data-parent="#network-content-area-accordion" href="#network-content-area" aria-expanded="false" aria-controls="network-content-area" class="">
              <span class="accordion-icon"></span>
              <span class="accordion-text">$_("Network Configuration")</span>
            </a>
          </h3>
          <div id="network-content-area" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="row" id="nw-interfaces" style="padding-left:20px;">
              <div class="clearfix">
                <span id='message-nw-container-area' style='display: none;'></span>
                <div class="columm-md-12" class="row">
                  <div id="nw-configuration-actions" class="pull-left">
                  </div>
                  <div id="nw-configuration-add" class="pull-right">
                  </div>
                </div>
                <div id="nw-configuration" class="row">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalWindow" class="modal fade host-modal network-io-modal" tabindex="-1" role="dialog" aria-labelledby="networkIOModalLabel" aria-hidden="true">
  </div>
  <script>
    ginger.initNetwork();
  </script>
</body>

</html>
