<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>

<head>
  <link rel="stylesheet" type="text/css" href="plugins/ginger/css/ginger.css">
  <script type="text/javascript" src="plugins/ginger/js/util.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/ginger-bootgrid.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/host-network.js"></script>
  <script type="text/javascript" src="plugins/ginger/js/host-network-enable-sriov.js"></script>
  #for $script in $data.scripts
  <script type="text/javascript" src="$script"></script>
  #end for
</head>

<body>
  <div id="network-root-container" class="ginger">
    <div class="container">
      <div id="gingerHostNetwork" class="host-network">
        <!-- OVS Bridges Panel -->
        <div id="ovsbridge-container" class="hidden"></div>
        <!-- Global Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled accordion" id="network-global-configuration-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" aria-expanded="true" data-toggle="collapse" data-parent="#network-global-accordion" href="#network-global-configuration-content-area" aria-expanded="true" aria-controls="network-global-configuration-content-area">
              <span class="accordion-icon"></span>
              <span class="accordion-text" id="global-network-configuration-title">$_("Global Network Configuration")</span>
            </a>
          </h3>
          <div id="network-global-configuration-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="global-network-configuration-title">
            <span id='message-nw-global-container-area' style='display: none;'></span>
            <div class="row grid-control">
                <button id="nw-global-config-apply-btn" class="btn btn-primary pull-left"><i class="fa fa-file"></i> $_("Apply")</a></button>
                <button id="nw-global-config-refresh-btn" class="btn btn-primary"><i class="fa fa-refresh"></i> $_("Refresh")</a></button>
            </div>
            <div class="row">
              <div class="form-inline gateway-control">
                <div class="form-group col-xs-12">
                    <label for="global-network-config-gateway">$_("Gateway")</label>
                    <input type="text" class="form-control" name="gateway" id="global-network-config-gateway" />
                </div>
              </div>
              <div class="col-sm-12">
                <table id="global-network" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>$_("DNS")</th>
                            <th>$_("Actions")</th>
                        </tr>
                    </thead>
                </table>
              </div>
            </div>
            <div class="wok-mask" role="presentation">
              <div class="wok-mask-loader-container">
                <div class="wok-mask-loading">
                    <div class="wok-mask-loading-icon"></div>
                    <div class="wok-mask-loading-text">$_("Loading")...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Redesigned Network Configuration Panel -->
        <div class="panel-group network-ppc-enabled accordion" id="network-configuration-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" aria-expanded="true" data-toggle="collapse" data-parent="#network-configuration-accordion" href="#network-configuration-content-area" aria-expanded="false" aria-controls="network-configuration-content-area">
              <span class="accordion-icon"></span>
              <span class="accordion-text" id="network-configuration-title">$_("Network Configuration")</span>
            </a>
          </h3>
          <div id="network-configuration-content-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="network-configuration-title">
            <span id='message-network-configuration-container-area' style='display: none;'></span>
            <div id="enable-sriov-progress-container" class="enable-sriov-status" style='display: none;'>
                <div>
                  <h3>
                      <a role="button" data-toggle="collapse" data-parent="#enable-sriov-progress-container" href="#status-sriov-container" aria-expanded="true" aria-controls="status-sriov-container">
                          <i class="fa fa-chevron-down" role="presentation"></i>
                          $_("Enable SR-IOV Progress")
                      </a>
                  </h3>
                  <div id="status-sriov-container" class="collapse">
                    <textarea id="status-sriov" readonly> </textarea>
                  </div>
                </div>
            </div>
            <div class="col-sm-7">
              <div class="pull-left">
                <div id="network-configuration-actions">
                </div>
              </div>
              <div class="pull-right">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="network-configuration" class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th><span class="sr-only">$_("Selected")</span><input name="select_all" value="1" type="checkbox"></th>
                            <th><span class="sr-only">$_("Status")</span></th>
                            <th>$_("Name")</th>
                            <th>$_("Type")</th>
                            <th>$_("NIC Type")</th>
                            <th>$_("Address Space")</th>
                            <th>$_("RDMA Enabled")</th>
                            <th>$_("Module")</th>
                            <th>$_("MAC Address")</th>
                        </tr>
                    </thead>
                </table>
              </div>
            </div>
            <div class="wok-mask" role="presentation">
              <div class="wok-mask-loader-container">
                <div class="wok-mask-loading">
                    <div class="wok-mask-loading-icon"></div>
                    <div class="wok-mask-loading-text">$_("Loading")...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalWindow" class="modal fade host-modal ginger" tabindex="-1" role="dialog" aria-labelledby="networkIOModalLabel" aria-hidden="true">
  </div>
  <script>
    ginger.initNetwork();
  </script>
  <script id="ovsBridgesPanel" type="text/html">
    <div class='panel-group network-ppc-enabled accordion' id='ovsbridge-content-area-accordion' role='tablist' aria-multiselectable='true'>
    <h3>
      <a role='button' aria-expanded='true' data-toggle='collapse' data-parent='#ovsbridge-content-area-accordion' href='#ovsbridge-content-area' aria-expanded='false' aria-controls='ovsbridge-content-area' class=''>
        <span class='accordion-icon'></span>
        <span class='accordion-text' id='#ovsbridge-title'>$_('OVS Bridges')</span>
      </a>
    </h3>
    <div id='ovsbridge-content-area' class='panel-collapse collapse' role='tabpanel' aria-labelledby='ovsbridge-title'>
      <div id="ovs-alert-container"></div>
      <div class="row grid-control">
         <div class="ovsbridge-actions btn-group" id="ovsbridge-actions-area">
            <button class="btn btn-primary add-ovsbridge-btn" type="button" id="add_ovsbridge_button"><i class="fa fa-plus-circle"></i> $_('Add Bridge')</button>
         </div>
         <div class="pull-right">
            <label for="ovs_search_input" class="sr-only">Filter:</label>
            <input type="text" class="filter form-control search" id="ovs_search_input" placeholder="$_('Filter')"/>
         </div>
       </div>
       <div class="row">
        <div id='ovsbridgeGrid' class="hidden">
            <div>
                <span class="column-name">$_("Name")</span><!--
                --><span class="column-bonds">$_("Bonds")</span><!--
                --><span class="column-interfaces">$_("Interfaces")</span><!--
                --><span class="column-statistics">$_("Statistics")</span><!--
                --><span class="column-action"><span class="sr-only">$_("Actions")</span></span>
            </div>
            <div id="ovsbridgeList" class="list"></div>
        </div>
       </div>
       <div class="wok-mask" role="presentation" class="hidden">
          <div class="wok-mask-loader-container">
            <div class="wok-mask-loading">
                <div class="wok-mask-loading-icon"></div>
                <div class="wok-mask-loading-text">$_("Loading")...</div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </script>
<script id="networkConfigButtonsTmpl" type="html/text">
  <div class="btn-group">
    <div class="dropdown menu-flat nw-configuration-action pull-left">
      <button class="btn btn-primary dropdown-toggle" disabled="disabled" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span class="edit-alt"></span>$_("Actions")<span class="caret"></span></button>
      <ul class="dropdown-menu actionsheet dropdown-menu-right">
          <li class="disabled"><a href="#" class="nw-up"><i class="fa fa-chevron-circle-up"></i>$_("Up")</a></li>
          <li class="disabled"><a href="#" class="nw-down"><i class="fa fa-chevron-circle-down"></i>$_("Down")</a></li>
          <li><a href="#" class="nw-restart"><i class="fa fa-refresh"></i>$_("Restart")</a></li>
          <li class="hidden"><a href="#" class="nw-sriov"><i class="fa fa-play-circle-o"></i>$_("Enable SR-IOV")</a></li>
          <li class="disabled critical"><a href="#" class="nw-delete"><i class="fa fa-minus-circle"></i>$_("Delete")</a></li>
          <li class="disabled"><a href="#" class="nw-settings"><i class="fa fa-cog"></i>$_("Settings")</a></li>
      </ul>
    </div>
    <div class="dropdown menu-flat cfginterfaces-enabled nw-configuration-add">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><i class="fa fa-plus"></i>$_("Add")<span class="caret"></span></button>
      <ul class="dropdown-menu actionsheet dropdown-menu-right">
          <li><a href="#" class="nw-add-bond"><i class="fa fa-plus-circle"></i>$_("Add Bond")</a></li>
          <li><a href="#" class="nw-add-vlan"><i class="fa fa-plus-circle"></i>$_("Add VLAN")</a></li>
      </ul>
    </div>
    <span class="pull-right"><button id="nw-config-refresh-btn" class="btn btn-primary" disabled="disabled"><i class="fa fa-refresh"></i> $_("Refresh")</a></button></span>
  </div>
</script>
<script id="ovsbridgeTmpl" type="html/text">
<div id="bridge-{id}" class="bridge" data-name="{name}">
      <span class='column-name name-filter' title="{name}">{name}</span><!--
 --><span class='column-bonds' title="{bonds}">{bonds}</span><!--
 --><span class='column-interfaces' title="{interfacePlus}">{interfaces}</span><!--
 --><span class='column-statistics'>{statistics}</span><!--
 --><span class="column-action">
            <span class="pull-right">
                  <div class="dropdown menu-flat">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span class="edit-alt"></span>$_("Actions")<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                               <li><a href="#" class="edit-bridge" data-name="{name}" href="#"><i class="fa fa-file"></i>$_("Edit Bridge")</a></li>
                               <li class="critical"><a href="#" class="remove-bridge" data-name="{name}"><i class="fa fa-minus-circle"></i>$_("Remove Bridge")</a></li>
                        </ul>
                  </div>
            </span>
      </span>
      <div class="bridge-statistics">
            <div id="bridge-{id}-interfaces" class="collapse">
                   <div class="bridge-interface" role="grid">
                          <div class="bridge-interfaces-header" role="row">
                               <span role="columnheader" class='column-state'>$_("State")</span><!--
                          --><span role="columnheader" class='column-ifname'>$_("Interface")</span><!--
                          --><span role="columnheader" class='column-stat'>$_("Bytes Received")</span><!--
                          --><span role="columnheader" class='column-stat'>$_("Bytes Transmitted")</span><!--
                          --><span role="columnheader" class='column-stat'>$_("Packages Received")</span><!--
                          --><span role="columnheader" class='column-stat'>$_("Packages Transmitted")</span><!--
                          --><span role="columnheader" class='column-stat'>$_("Errors Received")</span><!--
                          --><span role="columnheader" class='column-stat'>$_("Errors Transmitted")</span>
                          </div>
                          <div class="bridge-interfaces-body" role="row"></div>
                   </div>
            </div>
            <div class="clearfix"></div>
      </div>
</div>
</script>
<script id="interfaceBodyTmpl" type="html/text">
<div id="interface-{id}" data-name="{name}"  role="row">
        <span role="gridcell" class="column-state" title="$_("Interface is") {state}"><span class="sr-only">$_("Interface is") {state}</span><i class="fa fa-power-off {stateClass}"></i></span><!--
  --><span role="gridcell" class='column-ifname' title='{name}'>{name}</span><!--
  --><span role="gridcell" class='column-stat'>{rxBytes}<span class="sr-only"> $_("Bytes Received")</span></span><!--
  --><span role="gridcell" class='column-stat'>{txBytes}<span class="sr-only"> $_("Bytes Transmitted")</span></span><!--
  --><span role="gridcell" class='column-stat'>{rxPackets}<span class="sr-only"> $_("Packages Received")</span></span><!--
  --><span role="gridcell" class='column-stat'>{txPackets}<span class="sr-only"> $_("Packages Transmitted")</span></span><!--
  --><span role="gridcell" class='column-stat'>{rxErr}<span class="sr-only"> $_("Errors Received")</span></span><!--
  --><span role="gridcell" class='column-stat'>{txErr}<span class="sr-only"> $_("Errors Transmitted")</span></span>
       </div>
</div>
</script>
<div class="modal" id="network-Addosa-modal"> <!-- This div is required for multiple popups handling -->
  <div class="modal-dialog"  style="width:700px;">
  <div class="modal-content">$_("Loading...")</div>
  </div>
</div>
</body>

</html>
