.ginger .host-admin {
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

.ginger .host-admin h3 {
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px 2px 0 0;
}

.ginger .host-admin .content-area {
    background: linear-gradient(to bottom, #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border-radius: 0px 0px 2px 2px;
    color: #666666;
}

.ginger .host-admin .content-area .section {
    margin: 10px;
}

.ginger .host-admin .content-area .section .firmware-ver {
    margin-left: 10px;
}

.ginger .host-admin .content-area .section .pack-path-label {
    display: inline-block;
    vertical-align: top;
}

.ginger .host-admin .content-area .section .pack-path-content {
    display: inline-block;
    margin: 0 10px 0 13px;
}

.ginger .host-admin .content-area .section .pack-path-input {
    width: 400px;
    height:30px;
    border: 1px solid grey;
}

.ginger .host-admin .message-area {
    display: inline-block;
    background-color: #CCFFFF;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    padding: 10px 40px 10px 10px;
    font-weight: normal;
    font-size: 14px;
}

.ginger .host-admin .progress-icon {
    background-image: url("base/images/progress48.gif");
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.ginger .host-admin input.invalid-field[type="text"] {
    border: 1px solid #FF4444 !important;
}

.ginger .host-admin .input-hint-icon {
    background-image: url("base/images/ui-icons_888888_256x240.png");
    display: inline-block;
}

.ginger .host-admin .input-hint {
    font-weight: normal;
    margin-top: 1px;
}

.ginger .host-admin .input-hint-text {
    vertical-align: top;
}

.ginger .host-admin button{
    font-weight: bold;
    height: 35px;
    width: 80px;
    vertical-align: top;
}

.ginger .host-admin .content-area .action-bar {
    height: 30px;
    position: relative;
}

.ginger .host-admin .content-area .action-bar .item {
    float: right;
}

.ginger .host-admin .content-area .action-bar .item:not(:first-child) {
    margin-right: 5px;
}

.ginger .host-admin .content-area .bak-grid-header {
    margin: 20px 0 10px 0px;
    font-size: 14px;
    border-bottom: 1px solid #AAAAAA;
}

.ginger .host-admin .content-area .bak-grid-item {
    padding: 5px 0;
    font-weight: normal;
    cursor: pointer;
}

.ginger .host-admin .content-area .cell {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
}

.ginger .host-admin .content-area .file-col {
    width: 530px;
    max-width: 530px;
}

.ginger .host-admin .content-area .file-col:hover {
    text-decoration: underline;
}

.ginger .host-admin .content-area .time-col {
    width: 300px;
    max-width: 300px;
}

.ginger .host-admin .content-area .time-col:hover {
    text-decoration: underline;
}

.ginger .host-admin .content-area .bak-grid-body {
    margin-bottom: 20px;
    min-height: 50px;
}

.ginger .host-admin .content-area .bak-grid-body .cell {
    vertical-align: middle;
    text-overflow: ellipsis;
}

.ginger .host-admin .content-area .bak-grid-body .act-button {
    height: 20px;
    width: 20px;
    padding-right: 0;
}

.ginger-dialog {
    display: none;
    margin: 20px;
    font-size: 12px;
}

.ginger-dialog input.invalid-field[type="text"] {
    border: 1px solid #FF4444 !important;
}

.ginger-dialog input.invalid-field[type="text"][disabled] {
    border: 1px solid #aaaaaa !important;
}

.ginger-dialog .del-option {
    height: 25px;
    margin-bottom: 5px;
}

.ginger-dialog .del-option input[type="radio"] {
    margin-bottom: 7px;
    margin-right: 5px;
    vertical-align: middle;
}

.ginger-dialog .del-option input[type="text"] {
    width: 50px;
    vertical-align: middle;
}

.ginger-dialog .crt-bak-section {
    height: 25px;
    margin-bottom: 10px;
}

.ginger-dialog .crt-bak-section .desc {
    width: 500px;
}

.ginger-dialog .crt-bak-section .path-pick {
    display: inline-block;
    width: 49%;
    float: left;
    margin-right: 5px;
}

.ginger-dialog .crt-bak-section .path-pick .box {
    height: 350px;
    border: 1px solid grey;
    border-radius: 3px;
}

.ginger-dialog .crt-bak-section .path-pick .box .path-item {
    margin: 5px;
}

.ginger-dialog .crt-bak-section .path-pick .box .path-item input {
    vertical-align: bottom;
    width: 260px;
    margin-right: 5px;
}

.ginger-dialog .crt-bak-section .path-pick .box .path-item button {
    height: 20px;
}

.ui-tooltip {
    width: "";
    display: inline-block;
    max-width: 100%;
}

.ginger-dialog .ui-tooltip-content {
    width: 600px;
    padding: 10px 0 20px 20px;
    overflow: hidden;
}

.ginger-dialog .ui-tooltip-content .header {
    font-weight: bold;
}

.ginger-dialog .ui-tooltip-content .sub-content {
    padding: 10px;
    margin-bottom: 10px;
}

.ginger-dialog .ui-tooltip-content .sub-content .path-item {
    padding-bottom: 10px;
}
