.ginger .host-admin {
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

.ginger .host-admin h3 {
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px 2px 0 0;
}

.ginger .host-admin .content-area {
    background: linear-gradient(to bottom, #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border-radius: 0px 0px 2px 2px;
    color: #666666;
}

.ginger .host-admin .content-area .section {
    margin: 10px;
}

.ginger .host-admin .content-area .section .firmware-ver {
    margin-left: 10px;
}

.ginger .host-admin .content-area .section .pack-path-label {
    display: inline-block;
    vertical-align: top;
}

.ginger .host-admin .content-area .section .pack-path-content {
    display: inline-block;
    margin: 0 10px 0 13px;
}

.ginger .host-admin .content-area .section .pack-path-input {
    width: 400px;
    height:30px;
    border: 1px solid grey;
}

.ginger .host-admin .message-area {
    display: inline-block;
    background-color: #CCFFFF;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    padding: 10px 40px 10px 10px;
    font-weight: normal;
    font-size: 14px;
}

.ginger .host-admin .progress-icon {
    background-image: url("base/images/progress48.gif");
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.ginger .host-admin input.invalid-field[type="text"] {
    border: 1px solid #FF4444 !important;
    padding: 2px;
}

.ginger .host-admin .input-hint-icon {
    background-image: url("base/images/ui-icons_888888_256x240.png");
    display: inline-block;
}

.ginger .host-admin .input-hint {
    font-weight: normal;
    margin-top: 1px;
}

.ginger .host-admin .input-hint-text {
    vertical-align: top;
}

.ginger .host-admin button{
    font-weight: bold;
    height: 35px;
    min-width: 80px;
    vertical-align: top;
}

.ginger .host-admin .content-area .action-bar {
    height: 30px;
    position: relative;
}

.ginger .host-admin .content-area .action-bar .item {
    float: right;
}

.ginger .host-admin .content-area .action-bar .item:not(:first-child) {
    margin-right: 5px;
}

.ginger .host-admin .content-area .bak-grid-header {
    margin: 20px 0 10px 0px;
    font-size: 14px;
    border-bottom: 1px solid #AAAAAA;
}

.ginger .host-admin .content-area .bak-grid-item {
    padding: 5px 0;
    font-weight: normal;
    cursor: pointer;
}

.ginger .host-admin .content-area .cell {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
}

.ginger .host-admin .content-area .file-col {
    width: 530px;
    max-width: 530px;
}

.ginger .host-admin .content-area .file-col:hover {
    text-decoration: underline;
}

.ginger .host-admin .content-area .time-col {
    width: 300px;
    max-width: 300px;
}

.ginger .host-admin .content-area .time-col:hover {
    text-decoration: underline;
}

.ginger .host-admin .content-area .bak-grid-body {
    margin-bottom: 20px;
    min-height: 50px;
}

.ginger .host-admin .content-area .bak-grid-body .cell {
    vertical-align: middle;
    text-overflow: ellipsis;
}

.ginger .host-admin .content-area .bak-grid-body .act-button {
    height: 20px;
    width: 20px;
    padding-right: 0;
}

.ginger-dialog {
    display: none;
    margin: 20px;
    font-size: 12px;
}

.ginger-dialog input.invalid-field[type="text"] {
    border: 1px solid #FF4444 !important;
}

.ginger-dialog input.invalid-field[type="text"][disabled] {
    border: 1px solid #aaaaaa !important;
}

.ginger-dialog .del-option {
    height: 25px;
    margin-bottom: 5px;
}

.ginger-dialog .del-option input[type="radio"] {
    margin-bottom: 7px;
    margin-right: 5px;
    vertical-align: middle;
}

.ginger-dialog .del-option input[type="text"] {
    width: 50px;
    vertical-align: middle;
}

.ginger-dialog .crt-bak-section {
    height: 25px;
    margin-bottom: 10px;
}

.ginger-dialog .crt-bak-section .desc {
    width: 500px;
}

.ginger-dialog .crt-bak-section .path-pick {
    display: inline-block;
    width: 49%;
    float: left;
    margin-right: 5px;
}

.ginger-dialog .crt-bak-section .path-pick .box {
    height: 350px;
    border: 1px solid grey;
    border-radius: 3px;
}

.ginger-dialog .crt-bak-section .path-pick .box .path-item {
    margin: 5px;
}

.ginger-dialog .crt-bak-section .path-pick .box .path-item input {
    vertical-align: bottom;
    width: 260px;
    margin-right: 5px;
}

.ginger-dialog .crt-bak-section .path-pick .box .path-item button {
    height: 20px;
}

.ui-tooltip {
    width: "";
    display: inline-block;
    max-width: 100%;
}

.ginger-dialog .ui-tooltip-content {
    width: 600px;
    padding: 10px 0 20px 20px;
    overflow: hidden;
}

.ginger-dialog .ui-tooltip-content .header {
    font-weight: bold;
}

.ginger-dialog .ui-tooltip-content .sub-content {
    padding: 10px;
    margin-bottom: 10px;
}

.ginger-dialog .ui-tooltip-content .sub-content .path-item {
    padding-bottom: 10px;
}

.ginger .host-admin .nw-config {
    min-height: 170px;
    padding-bottom: 30px;
}

.ginger .host-admin .nw-config .pane {
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-bottom: 5px;
}

.ginger .host-admin .nw-config .pane .sec-label {
    margin-bottom: 3px;
    text-decoration: underline;
}

.ginger .host-admin .nw-config .pane .sec-content {
    padding: 10px 10px 0px 10px;
}

.ginger .host-admin .nw-config .pane .vertical-separator {
    margin-bottom: 20px;
}

.ginger .host-admin .nw-config .interface {
    width: 60%;
}

.ginger .host-admin .nw-config .interface .sec-content {
    padding-right: 40px;
}

.ginger .host-admin .nw-config .interface .cell {
    display: inline-block;
    padding-right: 0px;
    vertical-align: middle;
}

.ginger .host-admin .nw-config .interface .name {
    width: 150px;
}

.ginger .host-admin .nw-config .interface .ip {
    width: 140px;
}

.ginger .host-admin .nw-config .interface .mask {
    width: 140px;
}

.ginger .host-admin .nw-config .interface .grid-head {
    margin-bottom: 10px;
    color:#888888;
    border-bottom: solid 1px #BBBBBB;
}

.ginger .host-admin .nw-config .interface .grid-body {
    font-weight: normal;
}

.ginger .host-admin .nw-config .interface .grid-body input {
    width: 120px;
}

.ginger .host-admin .nw-config .interface .item {
    margin-bottom: 5px;
    overflow: hidden;
}

.ginger .host-admin .nw-config .interface .action-area {
    float: right;
    padding-right: 5px;
}

.ginger .host-admin .nw-config .global {
    width: 30%;
    margin-left: 30px;
}

.ginger .host-admin .nw-config .global input {
    width: 200px;
    margin-right: 5px;
    vertical-align: middle;
}

.ginger .host-admin .nw-config .global .addBtn {
    float: right;
    margin-right: 40px;
    border-radius: 10px;
}

.ginger .host-admin .nw-config button {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.ginger .hide {
    display: none;
}

.ginger .host-admin .pw-opt {
    padding: 10px;
}

.ginger .host-admin .pw-opt .header {
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.ginger .host-admin .pw-opt .header .legend {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    font-weight: normal;
}

.ginger .host-admin .pw-opt .header .separator {
    margin-right: 15px;
}

.ginger .host-admin .pw-opt .header #progressIndicator {
    float: right;
    margin-top: 2px;
}

.ginger .host-admin .pw-opt .header .actBtn {
    float: right;
}

.ginger .host-admin .pw-opt .body .item {
    display: inline-block;
    width: 33%;
}

.ginger .host-admin .pw-opt .body .item span {
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}

.ginger .host-admin .pw-opt .body .item .to-select:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ginger .host-admin .san-adapter {
    padding-right: 0px;
}

.ginger .host-admin .san-adapter .head {
    margin-bottom: 10px;
}

.ginger .host-admin .san-adapter .body {
    font-weight: normal;
}

.ginger .host-admin .san-adapter .item {
    margin-bottom: 5px;
}

.ginger .host-admin .sensor-panel {
    min-height: 100px;
    max-height: 170px;
}

.ginger .host-admin .sensor-inline {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.ginger .host-admin .sensor-head {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
}

.ginger .host-admin .sensor-inline .sensor-body {
    font-weight: normal;
    font-size: 12px;
}

.ginger .host-admin .sep-config .sep-field {
    display: inline-block;
    margin-right: 15px;
}

.ginger .host-admin .sep-config .sep-buttons {
    float: right;
    vertical-align: bottom;
    margin-top: 65px;
}

.ginger .host-admin .sep-config .actBtn {
    min-width: 90px;
}

.ginger .host-admin .sep-config .sep-label {
    margin-bottom: 8.5px;
}

.ginger .host-admin .sep-config .sep-input {
    margin-bottom: 2px;
    width: 200px;
}

.ginger .host-admin .sep-config .sep-dot-active {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 8px;
}

.ginger .host-admin .sep-config .up {
    background: linear-gradient(to bottom, #BFD255 0%, #8EB92A 50%,
                #72AA00 51%, #9ECB2D 100%) repeat scroll 0 0 transparent;
}

.ginger .host-admin .sep-config .down {
    background: linear-gradient(to bottom, #AFAFAF 0%, #AFAFAF 50%,
                #AFAFAF 51%, #AFAFAF 100%) repeat scroll 0 0 transparent;
}